<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>¿Cuánto debería ser la puntuación de la contraseña <code> "QQ2HMIJOX" </code> para el criterio de **letras mayúsculas consecutivas**.
	    </description>
        <answer>0</answer>
        <answer>-8</answer>
        <answer>-10</answer>
        <answer correct>-12</answer>
        <answer>-16</answer>
        <explanation>La contraseña <code> "QQ2HMIJOX" </code> tiene 6 letras mayúsculas (<code>Q</code>, <code>M</code>, <code>I</code>, <code>J</code>, <code>O</code>, <code>X</code>) que siguen a otra letra mayúscula. Por lo tanto, su puntuación para el criterio de **letras mayúsculas consecutivas** debe ser -12.</explanation>
    </question>
</quiz>
