<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>¿Cuánto debería ser la puntuación de la contraseña <code> "@uasimodo" </code> para el criterio de **letras solamente**.
	    </description>
        <answer correct>0</answer>
        <answer>8</answer>
        <answer>-8</answer>
        <answer>-9</answer>
        <explanation>Dado que <code> "@uasimodo" </code> no consiste de letras solamente, su puntuación para el criterio de **letras solamente** debe ser 0.</explanation>
    </question>
</quiz>
