<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>Supón que hubiese un criterio de bono que asigna una puntuación de 10 si la contraseña contiene tiene largo impar y el símbolo <code> @ </code> justo en el centro del string. Por ejemplo, <code> "j@j" </code> y <code> "bc@de" </code> recibirán tal bono.  ¿Cuál sería la forma más adecuada de implementar esa puntuación?
	    </description>
        <answer correct><br><img src="../../eip-diagnostic/password-strength/img/password-strength-01.png"><br></answer>
        <answer><br><img src="../../eip-diagnostic/password-strength/img/password-strength-02.png"><br></answer>
        <answer><br><img src="../../eip-diagnostic/password-strength/img/password-strength-03.png"><br></answer>
        <answer><br><img src="../../eip-diagnostic/password-strength/img/password-strength-04.png"><br></answer>
        <explanation>La primera opción es la respuesta correcta, pues es la única que tiene dos expresiones condicionales correctas unidas por un *AND*. La primera condición es que el string tenga un largo impar. Esto se logra verificando que <code>passwd.length() % 2 == 1</code>. Dado que en C++ el <code>1</code> se interpreta como cierto, basta con poner <code>passwd.length() % 2</code>. La segunda condición se verifica determinando si el caracter que está en la posición <code>passwd.length() / 2</code> es un <code>@</code>. Esto se logra con <code>passwd[ passwd.length() / 2 ] == ‘@’</code>.</explanation>
    </question>
</quiz>
