<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>¿Cuánto debería ser la puntuación de la contraseña <code> "@uasimodo" </code> para el criterio de **letras minúsculas**.
	    </description>
        <answer>0</answer>
        <answer correct>2</answer>
        <answer>16</answer>
        <answer>18</answer>
        <explanation>Dado que <code> "@uasimodo" </code> no consiste de letras minúsculas solamente, su puntuación para el criterio de **letras minúsculas** debe ser $$\left (2len - n \right) = 2 \left( 9 - 8 \right) = 2$$.</explanation>
    </question>
</quiz>
