<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>¿Cuánto debería ser la puntuación de la contraseña <code> "@uas1m@do" </code> para el criterio de **símbolos**?
	    </description>
        <answer>0</answer>
        <answer>2</answer>
        <answer correct>12</answer>
        <answer>18</answer>
        <explanation>Dado que <code> "@uas1m@do" </code> contiene 2 símbolos, su puntuación para el criterio de **símbolos** debe ser $$\left (6 \cdot 2 \right) = 12$$.</explanation>
    </question>
</quiz>
