<quiz name="Check your understanding">
  <question multiple>
    <description>
    Suppose that the robot starts in the upper-left corner of a <b>square</b> grid. It would need to pass through each and every room in order to know how many squares the grid contains.
    </description>
        <answer> True </answer>
        <answer correct> False </answer>
        <explanation>The robot does not need to pass through each and every room. It only needs to find the height or width of the square, then square that to obtain the number of rooms.</explanation>
  </question>
</quiz>
