<quiz name="Check your understanding.">
  <question multiple>
    <description>
    Suppose that the robot starts in the upper-left corner of a <b>rectangular</b> grid of height <i>h</i> and width <i>w</i>. Suppose that robot must visit <i>N</i> rooms to determine the total number of rooms in the grid. How would that compare to <i>M</i>, the number of visited rooms to determine the total number of rooms in a rectangle whose height and width are <i>2h</i> and <i>2w</i>.
    </description>
        <answer> It must visit approximately 4 times more rooms for the second case, i.e. <i>M = N * 4</i> </answer>
        <answer> It must visit approximately <i>h*w</i> additional rooms for the second case, i.e. <i>M = N + h*w</i> </answer>
        <answer> It must visit approximately <i>h*w</i> times more rooms for the second case, i.e. <i>M = N * h*w</i> </answer>
        <answer correct> It must visit approximately <i>h + w</i> additional rooms for the second case, i.e. <i>M = N + h + w</i> </answer>
        <explanation>To determine the height and width of the original rectangle the robot needs to visit approximately <i>h + w</i> rooms. To determine the height and width of the second rectangle the robot needs to visit approximately <i>2h + 2w</i> rooms. Thus, <i>M = N + h + w</i>.</explanation>
  </question>
</quiz>
