<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>Queremos declarar un vector que guarda objetos de tipo <code>Packet</code>, y entonces invocar la función miembro <code>getSrcPort()</code> al elemento 4 del vector (asuma que ya está lleno de información al declararlo). ¿Cuál de las siguientes instrucciones lograría esto?</description>
        <answer><img src="../../eip-diagnostic/network-filter/img/network-filter-01.png"></answer>
        <answer><img src="../../eip-diagnostic/network-filter/img/network-filter-02.png"></answer>
        <answer correct><img src="../../eip-diagnostic/network-filter/img/network-filter-03.png"></answer>
        <answer><img src="../../eip-diagnostic/network-filter/img/network-filter-04.png"></answer>
        <explanation>La respuesta correcta es la tercera opción. La primera opción declara el vector de objetos tipo <code>Packet</code> bien, pero invoca el método <code>getSrcPort()</code> incorrectamente. Queremos encontrar la información en el elemento 4. El método <code>getSrcPort()</code> puede ser invocado a objetos de clase <code>Packet</code>. El objeto <code>netFlow</code> es un vector, no un <code>Packet</code>. 
        <br>
        La segunda opción no declara el vector bien. Además la instrucción de <code>netFlow[i.getSrcPort()];</code> no está invocando el método <code>getSrcPort()</code> a uno de los objetos de <code>netFlow</code> si no a una variable <code>i</code> (que ni siquiera ha sido definida). La cuarta opción declara el vector bien, pero nuevamente utiliza <code>netFlow[i.getSrcPort()]</code>.</explanation>
    </question>
</quiz>
