<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>Queremos recorrer un vector de objetos <code>Packet</code>, filtrando los elementos cuyos “Destination Address” y “Source Address” son iguales y inhabilitando los demás. ¿Cúal de los siguientes está correcto?</description>
        <answer correct><img src="./eip-diagnostic/network-filter/img/network-filter-05.png"></answer>
        <answer><img src="./eip-diagnostic/network-filter/img/network-filter-06.png"></answer>
        <answer><img src="./eip-diagnostic/network-filter/img/network-filter-07.png"></answer>
        <answer><img src="./eip-diagnostic/network-filter/img/network-filter-08.png"></answer>
        <explanation>La primera opción es la correcta. La segunda opción es incorrecta ya que elimina los elementos cuyos “Destination Address” y “Source Address” son iguales, y esos son los que queremos guardar. La tercera opción utiliza la función <code>netdata.length()</code>, la cual le corresponde a un <code>string</code>, pero los vectores utilizan la función <code>size()</code>. La cuarta opción intenta asignarle un <code>0</code> a la posición correspondiente del vector <code>netdata</code>, lo cual está incorrecto.</explanation>
    </question>
</quiz>
