<quiz name="Check your understanding">
    <question multiple>
        <description>Consider a function with header <code>int foo01(int a, int b, int c = 5)</code>. Would the following be a valid invocation?
		<code>cout << foo01(1, 2) << endl;</code> 
		</description>
        <answer correct>Yes</answer>
        <answer>No</answer>
        <answer>Cannot determine with the provided information.</answer>
        <explanation>Yes, the invocation is valid because the function <code>foo01</code> can be invoked with either the first two argumensts or all three arguments since the last argument has a default value. </explanation>
    </question>
</quiz>
