<quiz name="Check your understanding">
    <question multiple>
        <description>Which of the discussed <code>example</code> functions would be called by the following instruction: <code>example(‘b’, ‘a’)</code>?
        </description>
        <answer><code>int example(int) ;</code></answer>
        <answer><code>int example(int, int) ;</code></answer>
        <answer><code>int example(char, int) ;</code></answer>
        <answer><code>int example(int, char) ;</code></answer>
        <answer correct><code>none of the above</code></answer>
        <explanation>None of the overloaded versions of <code>example</code> function are defined to receive two parameters of type char. In this case, the compiler tries to choose among the versions whose parameters could be satisfied by promoting/demoting the arguments. Among the available versions, both <code>int example(char, int)</code> and <code>int example(int, char)</code> comply. The compiler cannot choose among the two functions and stops the compilation process.
        </explanation>
    </question>
</quiz>
