<quiz name="Check your understanding">
    <question multiple>
        <description>Consider a function with the header <code>int foo02(int a = 10, int b = 7, int c = 5)</code>. Would the following be a valid invocation?
		<code>cout << foo02() << endl;</code>  
		</description>
        <answer correct>Yes</answer>
        <answer>No</answer>
        <answer>Cannot determine with the provided information.</answer>
        <explanation>Yes, The function can be invoked by passing 0, 1, 2, or 3 parameters. </explanation>
    </question>
</quiz>
