<quiz name="Check your understanding">
    <question multiple>
        <description>What will be the value of <code>arg01</code> after the line 19 is executed?
<br><img src="../../eip-diagnostic/DVD/img/DVD-01.png" /><br>
        </description>
        <answer correct>4</answer>
        <answer>3</answer>
        <answer>none; the <code>void</code> command erases the value</answer>
        <explanation>Since arg01 is passed <b>by value</b>, its value cannot be modified by the instructions of function <code>ejercicio</code>. Its final value is 4. 
        </explanation>
    </question>
</quiz>