<quiz name="Check your understanding">
    <question multiple>
        <description>What is the value of <b>arg02</b> after line 19 is executed?
<br><img src="../../eip-diagnostic/DVD/img/DVD-01.png" /><br>
		</description>
        <answer>5</answer>
        <answer correct>2</answer>
        <answer>non of the above; the function <code>ejercicio</code> is of type "void", thus the variable will have no value</answer>
        <explanation>Since arg02 is passed <b>by reference</b>, any assignment that is made to its corresponding parameter (var02) is also an assignment to arg02.  At the end of function <code>ejercicio</code> var02 is assigned a value of 2. Therefore, the value of arg02 after the function call in line 19 is <b>2</b>. 
        </explanation>
    </question>
</quiz>
