<quiz name="Check your understanding">
    <question multiple>
        <description>Given how functions are defined in <code>movie.h</code>, is the following invocation valid? <code>getMovieStudio(42)</code>?
        </description>
        <answer>Yes</answer>
        <answer correct>No</answer>
        <explanation>The prototype of the function <code>string getMovieStudio(string)</code> establishes that the function must receive an argument of the <code>string</code>class, however, the invocation is passing an int argument. Therefore, the invocation <code>getMovieStudio(42)</code> is not valid. </explanation>
    </question>
</quiz>
