<quiz name="Check your understanding">
    <question multiple>
        <description>Which of the <code>example</code> functions would be called by the following instruction: <code>example(42, 'a')</code>?
        </description>
        <answer><code>int example(int) ;</code></answer>
        <answer><code>int example(int, int) ;</code></answer>
        <answer><code>int example(char, int) ;</code></answer>
        <answer correct><code>int example(int, char) ;</code></answer>
        <answer><code>None of the above</code></answer>
        <explanation>The provided arguments are of type int and char (in that exact order). Thus, the following version is called: <code>int example(int, char);</code>. </explanation>
    </question>
</quiz>
