<quiz name="Check your understanding">
    <question multiple>
        <description>Which of the following functions are overloaded in <code>movie.h</code>?
        </description>
        <answer>getMovieByName</answer>
        <answer correct>showMovies</answer>
        <answer>getMovieInfo</answer>
        <explanation>The function <code>showMovies</code> is overloaded. There are two versions of <code>showMovies</code>. </explanation>
    </question>
</quiz>
