<quiz name="Check your understanding">
    <question multiple>
        <description>Assume that <code>fm</code> is an object of the <code>filemanip</code> class and functions are declared as in <code>movie.h</code>. Is the following invocation valid: <code>showMovies(fm)</code>?
        </description>
        <answer correct>Yes</answer>
        <answer>No</answer>
        <explanation>Yes, the invocation is valid. The version of the <code>showmovies</code> function that would be used is the following: <code>void showMovies(filemanip &, int=1, int=10) ;</code> </explanation>
    </question>
</quiz>