<quiz name="Check your understanding">
    <question multiple>
        <description>Consider a function with header <code>int foo01(int a, int b, int c = 5)</code>. Would the following be a valid invocation?
		<code>cout << foo01(1, ,2) << endl;</code> 
		</description>
        <answer>Yes</answer>
        <answer correct>No</answer>
        <answer>Cannot determine with the provided information.</answer>
        <explanation>No, the invocation requires passing the first two parameters or all three parameters. Passing only the first and last parameter is not a valid function call. </explanation>
    </question>
</quiz>
