<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>Considera una clase Point como la siguiente:
          <br>
          <img src="../../eip-diagnostic/basket/img/basket-02.png" />
          <br>
          &iquest; Cuál sería la implementación correcta de la función isFirstQ que devuelve true si el punto que representa está en el primer cuadrante del plano Cartesiano?
        </description>
        <answer>
          <img src="../../eip-diagnostic/basket/img/basket-03.png" />
        </answer>
        <answer correct>
          <img src="../../eip-diagnostic/basket/img/basket-01.png" />
        </answer>
        <answer>
          <img src="../../eip-diagnostic/basket/img/basket-04.png" />
        </answer>
        <answer>
          <img src="../../eip-diagnostic/basket/img/basket-05.png" />
        </answer>
        <explanation> La contestación correcta es:
                    <img src="../../eip-diagnostic/basket/img/basket-01.png" /><br>
           pues establece correctamente el tipo de valor de retorno y usa correctamente los miembros de datos ($$x$$ y $$y$$) en la expresión condicional. Las otras soluciones tienen los siguientes problemas:
             <br> 1. Usan $$xx$$ y $$yy$$ en vez de $$x$$ y $$y$$ ($$xx$$ y $$yy$$ son meros parámetros del constructor, NO son los nombres de los miembros de datos)
             <br> 2. Una de las soluciones no tienen return-type.
             <br> 3. Una de ellas usa el nombre de la clase en conjunto con el nombre del miembro de datos (e.g. $$Point.x$$ en vez de simplemente $$x$$).
        </explanation>
    </question>
</quiz>
