<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>
          Los métodos de una clase pueden tener 0 o más parámetros, dependiendo de los datos externos que necesiten para realizar su cómputo.
          &iquest; Cuál de los siguientes métodos para la clase Point requeriría 1 o más parámetros?
        </description>
        <answer>
          Un método $$distanciaOrigen$$ que devuelva la distancia desde el punto hasta el origen.
        </answer>
        <answer correct>
          Un método $$distanciaAPunto$$ que devuelva la distance entre este punto y otro.
        </answer>
        <answer>
          Un método $$cuadrante$$ que devuelva el número del cuadrante donde se encuentra el punto.
        </answer>
        <answer>
          Un método $$enEje$$ que devuelve true si el punto encima del eje de x o y.
        </answer>
        <explanation>
          El método $$distanciaAPunto$$ requeriría accesar los datos de otro punto (en adición a los del objeto invocante). El resto de los métodos se podrían lograr sin pasar parámetros.
          <br>Por ejemplo, podríamos implementar $$distanciaAPunto$$ así:
          <img src="../../eip-diagnostic/basket/img/basket-06.png" />
        </explanation>
    </question>
</quiz>
