<quiz name="Check your understanding">
    <question multiple>
        <description>Which of the following changes a pure red pixel to pure blue?
       	</description>
        <answer><code>if ( qRed( A.getPixel(0,0) ) == 0xff ) A.setPixel(0, 0, 0x0000ff); </code> </answer>
        <answer correct><code>if ( A.getPixel(0,0) == 0xff0000 ) A.setPixel(0, 0, 0x0000ff);</code></answer>
        <answer><code>if ( A.getPixel(0,0) == qRed(0xff0000) ) A.setPixel(0x0000ff); </code></answer>
        <explanation>The first option does not make an adequate comparison since it compares the pixel's red component <code>0xff</code> without taking into account the values of the other components. The second option is the correct one since it compares the value of the pixel with the value of the pure red <code>(0xff0000)</code>. The third option does not make an adequate comparison either because it tries to compare the pixel's value with the value of the red component.</explanation>
    </question>
</quiz>
