<quiz name="Check your understanding">
    <question multiple>
        <description>Which of the following codes will create a horizontal line in the center of the image <code>A</code>?
        </description>
        <answer correct><code>for (int i = 0; i < A.width(); i++)  A.setPixel(i, A.height()/2, 0);</code> </answer>
        <answer> <code>for (int i = 0; i < A.height(); i++)  A.setPixel(A.width()/2, i, 0);</code> </answer>
        <answer> <code>for (int i = 0; i < A.width(); i++)  A.setPixel(i/2, i/2, 0);</code> </answer>
        <answer>None of the above since there's a nested loop missing.</answer>
        <explanation>The first option creates a horizontal line in the center of the image. The second option creates a vertical line in the center of the image. The third option is dangerous since it uses the variable <code>i</code> in both arguments and could result in exceeding the valid values of the image's height. The fourth option is false, since we do not need a nested loop to draw a simple line.</explanation>
    </question>
</quiz>
