<quiz name="Check your understanding">
    <question multiple>
        <description>Given the objects <code>A</code> and <code>Z</code> of the <code>QImage</code> class, choose the best description of the following code:
        	<br> 
            <br><code>greenComp = qGreen( A.getPixel(0,0) );</code> <br>
            <br><code>result = greenComp > 230 ? 0xff0000: 0x0000ff;</code><br>
            <br><code>Z.setPixel( 0, 0, result);</code><br>
			</br> 
        </description>
        <answer correct>Changes the color of the pixel in image <code>Z</code> to pure red if the green component of the pixel in image <code>A</code> is greater than 230.</answer>
        <answer>Changes the color of the pixel in image <code>Z</code> to pure blue if the green component of the pixel in image <code>A</code> is greater than 230.</answer>
        <answer>Changes the color of the pixel in image <code>Z</code> to pure green if the green component of the pixel in image <code>A</code> is greater than 230.</answer>
        <explanation>The instruction <code>greenComp = qGreen( A.getPixel(0,0) );</code> extracts the value of the green component of a pixel in the image <code>A</code>. If the value of <code>greenComp</code> is greater than 230, the value assigned to <code>result</code> corresponds to a pure red color.</explanation>
    </question>
</quiz>
