<quiz name="Check your understanding">
    <question multiple>
        <description>Here we show the object <code>A</code> of the <code>QImage</code> class that has width and height of 5 pixels, i.e. the pixel <code>(0,0)</code> is red, <code>(4,0)</code> is black, <code>(2,2)</code> is green.
        	<br><img src="../../eip-diagnostic/green-screen/img/green-screen-01.png"><br>
        	<br>Which of the following would be the output of the following instruction: <code>cout << A.getPixel(2,3)</code>?
            <br>
        </description>
        <answer correct> <code>0x00ff00</code> </answer>
        <answer> <code>0xff0000</code> </answer>
        <answer> <code>0xffffff</code> </answer>
        <answer> <code>0x000000</code> </answer>
        <explanation>The pixel found in the position <code>(2,3)</code> is green, therefore it's value will be similar to <code>0x00ff00</code>.</explanation>
    </question>
</quiz>
