<quiz name="Check your understanding">
    <question multiple>
        <description>Here we show the object <code>A</code> of the <code>QImage</code> class that has a width and height of 5 pixels, i.e. the pixel <code>(0,0)</code> is red, <code>(4,0)</code> is black, and <code>(2,2)</code> is green.
        	<br><img src="../../eip-diagnostic/green-screen/img/green-screen-01.png"><br>
        	<br>Which of the following would be the output of the following instruction: <code>cout << qRed( A.pixel(1,0) )</code>?<br>
        </description>
        <answer> <code>0xff</code> </answer>
        <answer> <code>0x77</code> </answer>
        <answer correct> <code>0x00</code> </answer>
        <explanation>The pixel found in the position <code>(1,0)</code> is black (value <code>0x000000</code>), therefore it's red component is <code>0x00</code>.</explanation>
    </question>
</quiz>
