<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>¿Cuál es el algoritmo de ordenamiento ilustrado en la siguiente figura?
        	<br><img src="./eip-diagnostic/sort-detective/img/sort-detective-01.png"><br>
        </description>
        <answer>heap sort</answer>
        <answer>selection sort</answer>
        <answer>merge sort</answer>
        <answer correct>quick sort</answer>
        <explanation>La figura ilustra el algoritmo <code>quick sort</code>. En la primera fila, el número <code>8</code> (en rojo) es el <code>pivote</code>. Por lo que en la proxima fila se divide los números en menores (izquierda) y mayores (derecha) que el <code>8</code>. En las próximas filas se escoge un pivote y se divide en los menores a la izquierda y mayores a la derecha. Al final se agrupan todos nuevamente y queda en orden.</explanation>
    </question>
</quiz>
