<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>¿Cuál es el algoritmo de ordenamiento ilustrado en la siguiente figura?
        	<br><img src="./eip-diagnostic/sort-detective/img/sort-detective-03.png"><br>
        </description>
        <answer>heap sort</answer>
        <answer>selection sort</answer>
        <answer correct>merge sort</answer>
        <answer>quick sort</answer>
        <explanation>La figura ilustra el algoritmo <b>merge sort</b>. La lista es repetidamente dividida en sublistas hasta que cada lista consiste de un elemento.  Luego, el algoritmo junta las sublistas, ahora en orden.</explanation>
    </question>
</quiz>
