<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>¿Cuál es el algoritmo de ordenamiento ilustrado en la siguiente figura?
        	<br><img src="./eip-diagnostic/sort-detective/img/sort-detective-02.png"><br>
        </description>
        <answer>insertion sort</answer>
        <answer correct>bubble sort</answer>
        <answer>selection sort</answer>
        <answer>shell sort</answer>
        <explanation>La figura ilustra el algoritmo <code>bubble sort</code>. En cada <i>pase</i>, bubble sort pasa por el arreglo comparando elementos adyacentes e intercambiandolos si no están en orden. Esto lleva el número mayor hasta el final de la lista.</explanation>
    </question>
</quiz>