<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>Supón que hemos definido un arreglo de objetos string así: <code>string S[5]</code> y le asignamos el string <code>"perro"</code> a cada uno de los objetos de <code>S</code>. ¿Cuál de las siguientes cambiaría el string del elemento 3 de <code>S</code> a <code>"perra"</code>?
        </description>
    <answer> <code>S[4] = "a";</code> </answer>
	<answer correct> <code>S[3][4] = 'a';</code> </answer>
	<answer> <code>S.at(3) = "a";</code> </answer>
	<answer> <code>S.replace(3,4, 'a');</code> </answer>
    <explanation> La opción correcta es <code>S[3][4] = 'a'</code>. Este comando realiza la siguiente tarea: *cambia el elemento número 4 del objeto de índice 3 de S.*. 
    <br>La opción <code>S[4] = "a"</code> tiene el efecto de cambiar el objeto de índice 4 a <code>"a"</code>. 
    <br>La opción <code>S.at(3) = "a"</code> intenta cambiar el contenido del objeto con índice 3 a <code>"a"</code>. Sin embargo, la instrucción no es válida pues el resultado del método <code>at()</code> es una constante que no acepta cambio de valor.
    <br> La opción <code>S.replace(3,4, 'a');</code> es inválida pues el método <code>replace()</code> puede ser invocado a los objetos de clase <code>string</code>, no a los arreglos.
	</explanation>
    </question>
</quiz>
