<quiz name="Comprueba tu entendimiento">
    <question multiple>
    <description>Supón que hemos creado un arreglo de objetos QPoint así: <code>QPoint P[7]</code> y le hemos asignado valores <code>x</code> y <code>y</code> a los objetos del arreglo. ¿Cual(es) de los siguientes se puede utilizar para computar la suma de las coordenadas y de todos los puntos?
    </description>
    <answer> <img src = "../../eip-diagnostic/PRMap/img/PRMap-01.png"> </answer>
	<answer correct> <img src = "../../eip-diagnostic/PRMap/img/PRMap-02.png"> </answer>
	<answer> <img src = "../../eip-diagnostic/PRMap/img/PRMap-03.png"> </answer>
    <explanation>La opción beta es la correcta pues la instrucción dentro del ciclo accede correctamente las coordenadas y de cada uno de los puntos.
    <br>La opción alpha contiene <code>P.y()</code> en la expresión dentro del ciclo. <code>P.y()</code> no es válida pues <code>P</code> es un arreglo, no un QPoint, por lo tanto no se le puede invocar el getter <code>y()</code> a <code>P</code>.
    <br>La opción gamma contiene <code>a[i]</code> en la expresión dentro del ciclo. <code>a[i]</code> no es válida pues <code>a[i]</code> no es un arreglo, es un <code>int</code>.
	</explanation>
    </question>
</quiz>
