<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>Supón que hemos definido un arreglo de objetos string así: <code>string S[10]</code> y le asignamos un string distinto a cada uno de los objetos de <code>S</code>. ¿Cuáles de las siguientes imprime el largo del elemento 7 de S?
        </description>
    <answer correct> <code>cout << S[7].length();</code> </answer>
	<answer> <code>cout << S.length()[7];</code> </answer>
	<answer> <code>cout << S.length(7);</code> </answer>
	<answer correct> <code>cout << S.at(7).length();</code> </answer>
    <explanation>Las siguientes opciones imprimen el largo del elemento 7: <code>cout << S[7].length();</code>, <code>cout << S.at(7).length();</code>. Ambas preceden la invocación del método <code>length()</code> con una expresión que se refiere al elemento 7 del arreglo S. Tanto <code>S[7]</code> como <code>S.at(7)</code> son formas de acceder al elemento 7.
    <br>La opción <code>cout << S.length()[7];</code> es inválida pues está tratando de invocar el método <code>length()</code> al arreglo de strings. El método <code>length()</code> se le puede invocar a los <code>strings</code>, no a los arreglos.
    <br>La opción <code>cout << S.length()[7];</code> es inválida pues está tratando de invocar el método <code>length()</code> al arreglo de strings. El método <code>length()</code> se le puede invocar a los <code>strings</code>, no a los arreglos.
    <br>La opción <code>cout << S.length(7)</code> es inválida pues está tratando de invocar el método <code>length()</code> al arreglo de strings. Además el método <code>length</code> no requiere argumentos y la invocación está incluyendo uno.
	</explanation>
    </question>
</quiz>
