<quiz name="Check your understanding">
    <question multiple>
        <description>Which of the following would be the result of a level 2 "scramble" on the penguin picture?
            <br><img src="../../eip-diagnostic/image-scrambler/img/image-scrambler-01.png"><br></description>
        <answer correct><img src="../../eip-diagnostic/image-scrambler/img/image-scrambler-02.png"></answer>
        <answer><img src="../../eip-diagnostic/image-scrambler/img/image-scrambler-03.png"></answer>
        <answer><img src="../../eip-diagnostic/image-scrambler/img/image-scrambler-04.png"></answer>
        <answer><img src="../../eip-diagnostic/image-scrambler/img/image-scrambler-05.png"></answer>
        <explanation>A level 1 "scramble" is a diagonal swap of the image quadrants. Level 2 is a swap of the two image halves and then apply  level 1 "scramble". If we swap the penguin halves, its left side will be on the right side, and the right side will be on the left, like you can see on the second choice. Now if we move the quadrants diagonally, then at the end the correct answer is the first choice. </explanation>
    </question>
</quiz>
