<quiz name="Check your understanding">
    <question multiple>
        <description>What would be the output of the following program?
            <br><img src="../../eip-diagnostic/image-scrambler/img/image-scrambler-06.png"><br></description>
        <answer ><code>"01234567"</code></answer>
        <answer ><code>”45670123”</code></answer>
        <answer correct><code>”67452301”</code></answer>
        <answer ><code>”76543210”</code></answer>
        <explanation>Each time that the recursive function <code>revoltillo</code> is called, it swaps the first and the second halves of the string that is passed by reference. The figure bellow is the recursion tree for <code>revoltillo(“01234567”,2)</code>. As the various invocations return, they form the result: <code>”67452301”</code> 
        	<br><img src="../../eip-diagnostic/image-scrambler/img/image-scrambler-07.png"><br></explanation>
    </question>
</quiz>
