<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>¿Cuál es el resultado de invocar <code>recurse(1980)</code>?
            <br><img src="../../eip-diagnostic/recursive-shapes/img/recursive-shapes-02.png"><br></description>
        <answer>$$5000000$$</answer>
        <answer>$$1291980$$</answer>
        <answer correct>$$0$$</answer>
        <answer>$$2030$$</answer>
        <explanation>Cuando estamos trabajando con funciones recursivas, el diseño es sumamente importante. Primero se define el caso base, ya que sin él posiblemente podríamos terminar con recursión infinita. El caso base <code>if (n >= 450000) return 0;</code> nos dice que siempre que se cumpla la condición del caso base, devolverá 0. El caso recursivo incrementa a n por 300 y luego devuelve el producto de n por el resultado del <code>recurse(n+50)</code>. Al invocar con n = 1980, la función continuará auto-invocándose con valores cada vez más grandes de n hasta igualar o rebasar 450000. Dado que el resultado es el producto de las n’s generadas en cada invocación y lo devuelto por el caso base es 0, el resultado de la invocación será cero.  </explanation>
    </question>
</quiz>
