<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>¿Cuál es el resultado de invocar <code>recurse(50)</code>?
            <br><img src="../../eip-diagnostic/recursive-shapes/img/recursive-shapes-01.png"><br></description>
        <answer>$$300$$</answer>
        <answer correct>$$150$$</answer>
        <answer>$$125000$$</answer>
        <answer>$$50$$</answer>
        <explanation>Una función recursiva debe tener al menos un caso base que permitirá parar la recursión si una condición en particular se cumple; sin ella, podría resultar en recursión infinita. Aquí el caso base es <code>if (n >= 100) return n;</code>. Si invocamos con <code>recurse(50)</code>, vemos que <code>(50 >= 100)</code> es falso, y por lo tanto seguimos al próximo paso <code>return 50 + recurse(50 + 50)</code>. Invocando <code>recurse(100)</code> ahora tenemos que <code>(100 >= 100)</code> es cierto, y por lo tanto comienza la cadena de devolver los resultados que se han acumulado en el stack, en este caso <code>n = 100</code>. En fin, tendremos <code>return 50 + 100</code>, o 150. </explanation>
    </question>
</quiz>
