<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>El file <code>datos.txt</code> contiene los números $$1,2,3,4,5,6$$ (uno debajo del otro). ¿Cuál sería el output del siguiente programa?
        	<br><img src="../../eip-diagnostic/benfords-law/img/benfords-law-01.png"> <br>
	    </description>
        <answer correct>$$1$$</answer>
        <answer>$$5$$</answer>
        <answer>$$6$$</answer>
        <answer>$$21$$</answer>
        <explanation>El propósito del programa es contar cuántos números de los que contiene el file son mayores de 5. El archivo <code>datos.txt</code> solo contiene un número mayor que 5, por lo tanto el resultado del programa sería <code>1</code>. </explanation>
    </question>
</quiz>
