<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>El file <code>nums.txt</code> contiene los números $$2,3,4,5,6$$ (uno debajo del otro). ¿Cuál sería el output del siguiente programa?
        <br><img src="../../eip-diagnostic/benfords-law/img/benfords-law-02.png"> <br>
	    </description>
        <answer><code>2 3 4 5 6</code></answer>
        <answer correct><code>2 0 1 2 0</code></answer>
        <answer><code>2 3 0 1 2</code></answer>
        <answer><code>-1 0 1 2 3</code></answer>
        <explanation>Este programa lee cada uno de los números de <code>nums.txt</code> e imprime el resultado de su residuo al dividir entre 3. Por lo tanto el resultado es <code>2 0 1 2 0</code> que son los residuos de 2 / 3, 3 / 3, 4 / 3, 5 / 3, y 6 / 3.  </explanation>
    </question>
</quiz>
