<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>¿Cuál será el contenido del arreglo <code>A</code> justo antes de ejecutar la instrucción <code>return 0</code>?
        <br><img src="../../eip-diagnostic/benfords-law/img/benfords-law-03.png"> <br>
	    </description>
        <answer correct>$$3, 2, 2$$</answer>
        <answer>$$2, 3, 2$$</answer>
        <answer>$$2, 2, 2$$</answer>
        <answer>$$4, 5, 6$$</answer>
        <explanation>El ciclo genera los siguientes valores para <code>i</code>: 0, 1, 2, 3, 4, 5, 6. La instrucción <code>A[i%3]++</code> incrementa el contenido de los siguientes elementos de A: <code>A[0]</code>, <code>A[1]</code>, <code>A[2]</code>, <code>A[0]</code>, <code>A[1]</code>, <code>A[2]</code>, y nuevamente <code>A[0]</code>. Por lo tanto, el arreglo <code>A</code> contiene: $$3, 2, 2.$$ </explanation>
    </question>
</quiz>
