<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>Supón que hemos llevado cuenta de los dígitos líder de un conjunto de datos usando el arreglo <code>C</code> de tamaño 10. Luego de terminar el conteo el contenido de <code>C</code> es <code>{0, 1, 1, 0, 0, 0, 0, 0, 0, 0} </code>. ¿Cuál es la frecuencia de ocurrencia del dígito 0?
	    </description>
        <answer>$$8\%$$</answer>
        <answer correct>$$80\%$$</answer>
        <answer>$$18\%$$</answer>
        <answer>-$$1\%$$</answer>
        <explanation>La frecuencia de ocurrencia del número 0 es el número de veces que el dígito aparece en los datos (8 veces según el arreglo <code>C</code>) sobre el número total de datos (10 datos): $$\frac{8}{10} = 80\%$$.</explanation>
    </question>
</quiz>
