<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>Suponga que existe un objeto <code>ethernet</code> de la clase <code>ethernet_packet</code>. El objeto <code>ethernet</code> de la clase <code>ethernet_packet</code> hereda atributos del <code>struct</code> definido como <code>sniff_ethernet</code>, que tiene un atributo que es un arreglo llamado <code>ether_dhost[]</code> que guarda la dirección del origen del <code>host</code>. ¿Cuál de las siguientes instrucciones nos permitiría acceder el elemento 4 del arreglo <code>ether_dhost[]</code> en el objeto <code>ethernet</code>?
        </description>
        <answer> <code>ether_dhost[4];</code> </answer>
        <answer> <code>ethernet[4].ether_dhost;</code> </answer>
        <answer correct> <code>ethernet.ether_dhost[4];</code> </answer>
        <answer> <code>ethernet[4];</code> </answer>
        <explanation>Como el objeto <code>ethernet</code> hereda atributos del <code>struct</code> llamado <code>sniff_ethernet</code>, los mismos son públicos y pueden ser accedidos con la instrucción <code>nombreObjeto.atributo</code>. Ya que el <code>struct</code> no tiene setters y getters, es solo necesario invocar la instrucción <code>ethernet.ether_dhost[4];</code>, ya que el objeto <code>ethernet</code> almacena el arreglo <code>ether_dhost[]</code>. Por lo tanto, la respuesta correcta es la tercera: <code>ethernet.ether_dhost[4];</code>.
        </explanation>
    </question>
</quiz>
