<quiz name="Verifica tu entendimiento">
  <question multiple>
    <description>
    Un programador vago te ha dado la siguiente declaración de una clase:
<img src="../../eip-diagnostic/simple-sniffer/img/simple-sniffer-01.png"><br>
    ¿Cuál de la siguientes es probablemente un <b>getter</b>?
    </description>
        <answer > <code>myClass()</code> </answer>
        <answer correct> <code>int xx()</code> </answer>
        <answer> <code>void zz(int someValue)</code> </answer>
        <answer> <code>a</code> </answer>
        <explanation>La contestación correcta es <code> int xx() </code> pues los getters devuelven el valor de alguno de los miembros dato. Por lo tanto tienden an tener un prototipo de función que <b>no</b> es void y no tienen parametros. Acerca del resto de las opciones: <br>
&#8226; <code> myClass </code> es un <b>constructor</b> (tiene el mismo nombre de la clase)<br>
&#8226; <code> void zz(int someValue)</code> es muy probablemente un setter ya que es una función void que recibe un parametro de un tipo que coincide con uno de los miembros datos<br>
&#8226; <code> a </code> es un miembro dato.</explanation>
  </question>
</quiz>