<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>Considere el siguiente código:
        	<br><img src = "../../eip-diagnostic/car-scrolling/img/car-scrolling-001.png"><br>
        	<br>¿Cuál será el valor de la variable <code>x</code> al final?<br>
        </description>
        <answer correct> 9 </answer>
        <answer> 10 </answer>
        <answer> 11 </answer>
        <answer> 76 </answer>
        <explanation>
        El valor de <code>x</code> será 9 al final de este código. 
        <br>
        El primer caso (<code>case 'A'</code>) parea el valor de la variable <code>c</code> y se le asigna 10 a la  <code>x</code>.  Sin embargo, el caso no termina con <code>break</code> así que el flujo del programa continúa hacia la instrucción <code>x--</code>. De modo que el valor final de <code>x</code> es <b>9</b>. La moraleja de esta historia es: recuerda poner <code>break</code> al final de cada <code>case</code> a no ser que estés planificando un programa con comportamiento extraño. 
        </explanation>
    </question>
</quiz>
