<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>Considera el siguiente código:
            <br><img src = "../../eip-diagnostic/car-scrolling/img/car-scrolling-002.png"><br>
            <br>¿Qué valores de <code>carY</code> y <code>rotoY</code> harán que el valor de  <code>score</code> incremente?<br>
        </description>
        <answer> <code>carY = 120</code>, <code>rotoY = 122</code> </answer>
        <answer> <code>carY = 11</code>, <code>rotoY = 15</code>  </answer>
        <answer correct> <code>carY = 12</code>, <code>rotoY = 5</code> </answer>
        <answer> <code>carY = 0</code>, <code>rotoY = 3</code>  </answer>
        <explanation> El único par de valores que hará que la condición <code> dist * dist &lt; 25 </code> se haga <b>falsa</b> es <code>carY = 12</code>, <code>rotoY = 5</code>. Los demás pares de valores resultan en diferencias que luego de ser cuadradas dan números menores que 25. 
        </explanation>
    </question>
</quiz>
