<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>Dado el siguiente código:
            <br><img src="../../eip-diagnostic/sticks/img/sticks-02.png"><br>
            ¿Cuántas veces se imprimirá "La vaca" si el usuario se mantiene entrado el valor 6? 
        </description>
        <answer>0</answer>
        <answer>1</answer>
        <answer>2</answer>
        <answer correct>3</answer>
        <answer>6</answer>
        <explanation>Observe que la variable de control de iteraciones es <code>total</code> y que el do-while continuará iterando mientras <code>total</code> sea mayor de 0. Al completar la primera iteración el valor de total será <code>total = 15 - 6 = 9</code>. 
        Al completar la segunda iteración el valor de total será <code>total = 9 - 6 = 3</code>.
        Al completar la tercera iteración el valor de total será <code>total = 3 - 6 = -3</code>. Este valor hace falsa la expresión relacional y nos saca del loop. Por lo tanto, "La vaca" saldrá impreso 3 veces.
        </explanation>
    </question>
</quiz>
