<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>De acuerdo al siguiente código:
            <br><img src="../../eip-diagnostic/sticks/img/sticks-01.png"><br>
            ¿Cuál(es) de los siguientes es(son) valores <b>incorrectos</b>? 
        </description>
        <answer>9</answer>
        <answer>10</answer>
        <answer correct>11</answer>
        <answer correct>-5</answer>
        <explanation>El while se mantedrá dando vueltas e imprimiendo "Valor incorrecto" siempre y cuando el valor de x sea menor que 0 o mayor que 10. Por lo tanto, los valores incorrectos son 11 y -5.</explanation>
    </question>
</quiz>
