<quiz name="Check your understanding">
    <question multiple>
        <description> We want to create a C++ function that receives the coefficients $$a$$, $$b$$, $$c$$ and returns the two results from the quadratic equation. The user has made sure that the coefficients $$a$$, $$b$$, $$c$$ correspond to non-complex solutions. Which of the following would be the appropriate header for the function?:
        </description>
		<answer correct> <code>void quadratic(double a, double b, double c, double &sol1, double &sol2)</code> </answer>  
		<answer> <code>void quadratic(double &a, double &b, double &c, double &sol1, double &sol2)</code> </answer>
		<answer> <code>double quadratic(double a, double b, double c)</code> </answer>
		<answer> <code>void quadratic(double a, double b, double c)</code> </answer>
        <explanation> The most appropriate header would be <code>void quadratic(double a, double b, double c, double &sol1, double &sol2)</code> since it describes a function that is capable of receiving three arguments by value and return two results using pass by reference. <br>
        <br>
        The second header can also receive three arguments and return two, but the body of the function could modify the arguments $$a$$, $$b$$ and $$c$$. The two other headers can only return 1 or 0 results.
        </explanation>
    </question>
</quiz>
