<quiz name="Check your understanding">
    <question multiple>
        <description> 
        A frog is currently in the coordinate $$(0,0)$$ and wants to jump to a leaf in the coordinate $$(6,0)$$. Which of the following parabolas should it follow?
        </description>
		<answer> $$-x^2 + 6$$ </answer>
		<answer> $$x^2 + 6$$ </answer>
		<answer> $$x^2 - 6x$$ </answer>
		<answer correct> $$-x^2 + 6x$$ </answer>
		<answer> $$-x^2 + 6x - 9$$ </answer>
        <explanation> To determine one of the parabolas that passes through $$(0,0)$$ and $$(6,0)$$, we construct a quadratic equation whos $$y$$ intercepts are 0 and 6:
		<br>
		<br>$$y = (x) (x-6) = x^2 - 6x$$ <br>
		<br> This equation corresponds to a parabola that passes through $$(0,0)$$ and $$(6,0)$$, but opens upwards.
		<br> To obtain a parabola with the same $$y$$ intercepts, but opening downwards, we simply negate the right side of the expression, e.g. <br>
		<br>$$y = -(x^2 - 6x) = -x^2 + 6x$$ 
        </explanation>
    </question>
</quiz>
