<quiz name="Check your understanding">
    <question multiple>
        <description>What is the value of variable c after the following instructions?
        <br> <img src = "../../eip-diagnostic/quadratic-frog/img/quadratic-frog-06.png">
        </description>
        <answer> 0</answer>
	    <answer correct> 1.0 </answer>
	    <answer> 1.5 </answer>
	    <answer> 3.0 </answer>
        <explanation> 
        The final value of c is 1.0. The division of 3 / 2 is an integer operation so the result is 1. The 1 is then casted to a floating point number and assigned to the variable c.
		</explanation>
    </question>
</quiz>
