<quiz name="Check your understanding">
    <question multiple>
        <description>Pair the graph with the corresponding quadratic equation: (the graph was obtained using the applet in http://rechneronline.de/function-graphs/)
        <br> <img src = "../../eip-diagnostic/quadratic-frog/img/quadratic-frog-04.png">
        </description>
        <answer> $$y = x^2 - 3$$ </answer>
	    <answer correct> $$y = x^2 - 9$$ </answer>
	    <answer> $$y = -x^2 + 9$$ </answer>
	    <answer> $$y = x^2 + 3$$ </answer>
        <explanation> $$y = x^2 - 9$$
        <br> The negative value of $$a$$ tells us this parabola opens downwards. The $$y$$ intercepts are obtained by solving the quadratic formula. They are -3 and 3. <br>
		</explanation>
    </question>
</quiz>
