<quiz name="Check your understanding">
    <question multiple>
        <description>Pair the graph with the corresponding quadratic equation: (the graph was obtained using the applet in http://rechneronline.de/function-graphs/)
        <br> <img src = "../../eip-diagnostic/quadratic-frog/img/quadratic-frog-01.png">
        </description>
        <answer> $$y = x - 3x + 4$$ </answer>
	    <answer> $$y = x^2 - 3x - 1 $$ </answer>
	    <answer> $$y = x^2 - 2x + 4$$ </answer>
	    <answer correct> $$y = x^2 - 6x + 8$$ </answer>
        <explanation> $$y = x^2 - 6x + 8$$ <br>
		<br> 
        The y-intercepts are $$x_1=2$$ y $$x_2=4$$. Thus, the equation should be $$y=a(x-2)(x-4)=a(x^2-6x+8)$$, where $$a$$ is the coefficient of $$x^2$$ and should be positive because the parabola opens upward. The only option that complies is $$y=x^2-6x+8$$. 
		</explanation>
    </question>
</quiz>
