<quiz name="Check your understanding">
    <question multiple>
        <description> Complete the following program so it prints out the result of the expression $$ \frac {\sqrt{(x+y)^3}}{ y - x }$$.
	    <br> <img src = "../../eip-diagnostic/quadratic-frog/img/quadratic-frog-05.png">
        </description>
	    <answer> Add <code>#include <cmath> </code>. Add the instruction <code>sqrt( pow(x+y,3.0) ) / (y - x );</code>. </answer>
        <answer correct> Add <code>#include <cmath> </code>. Add the instruction <code>cout << sqrt( pow(x+y,3.0) ) / (y - x ) << endl;</code>. </answer>
	    <answer> Add the instruction <code>cout << sqrt( pow(x+y,3.5) ) / (y - x ) << endl;</code>. </answer>
	    <answer> Add <code>#include math </code>. Add the instruction <code>cout << sqrt((x+y)^3 ) / (y - x ) << endl;</code>. </answer>
        <explanation> 
        Since we want to use the square root and pow functions, we have to add the <code>cmath</code> library using <code>#include <cmath></code>. Then, we add the instruction <code> cout << sqrt( pow(x+y,3.0) ) / (y - x ) << endl;</code>.
        </explanation>
    </question>
</quiz>
