<quiz name="Check your understanding">
    <question multiple>
        <description> Suppose that a friend has created a function that receives the coordinates of two points on a parabola and returns the coefficients $$a$$, $$b$$, and $$c$$. The function's header is <code>void getCoeficients(double x1, double y1, double x2, double y2, double &a, double &b, double &c)</code>. Which would be the most appropriate piece of code to invoke the function?
        </description>
        <answer> <code>a, b, c = getCoefficients(8.0, 9.0, 10.0, 0.0)</code> </answer>
		<answer> <code>( a, b, c ) = getCoefficients(8.0, 9.0, 10.0, 0.0)</code> </answer>
		<answer> <code>a = getCoefficients(8.0, 9.0, 10.0, 0.0).a()</code>
		<br><code>b = getCoefficients(8.0, 9.0, 10.0, 0.0).b()</code>
		<br><code>c = getCoefficients(8.0, 9.0, 10.0, 0.0).c()</code> </answer>
		<answer> <code>cout << getCoefficients(8.0, 9.0, 10.0, 0.0, a, b, c) << endl;</code> </answer>
		<answer correct> <code>getCoefficients(8.0, 9.0, 10.0, 0.0, a, b, c);</code> </answer>
        <explanation> The first function call does not provide all of the arguments necessary for the function. The function requires 7 arguments and this call only uses 3. C++ does not permit expressions such as <code>a,b,c</code> on the left side of an assignment.<br>
        <br>The second function call also doesn't provide all of the arguments necessary for the function. The function needs 7 arguments and the call only uses 3. C++ does not permit expressions such as <code>(a,b,c)</code> on the left side of an assignment.<br>
        <br>The third option isn't valid in C++ either. We would be calling the function three times expecting it to return something. This won't work since the function was declared as void, so it won't return anything.<br>
        <br>The fourth option isn't valid since, despite the fact that we're passing all of the necessary arguments, we're trying to print (with cout) the value returned by the function.<br>
        <br>The fifth option is the correct one since it passes 7 arguments and the last three are variables (passed by reference) whos values are assigned during the execution of getCoefficients.
        </explanation>
    </question>
</quiz>
