<quiz name="Check your understanding">
    <question multiple>
        <description>Pair the graph with the corresponding quadratic equation: (the graph was obtained using the applet in http://rechneronline.de/function-graphs/)
        <br> <img src = "../../eip-diagnostic/quadratic-frog/img/quadratic-frog-02.png">
        </description>
        <answer> $$y = x - 3x + 9$$ </answer>
	    <answer correct> $$y = x^2 - 2x -8$$ </answer>
	    <answer> $$y = x^2 - x + 1 $$ </answer>
	    <answer> $$y = x^2 - 2x + 4$$ </answer>
        <explanation> $$y = x^2 - 2x -8$$ <br>
        <br> By solving the quadratic formula, we obtain the values when $$y$$ is 0. These values are 4 and -2. The value of $$a$$ is positive, so the parabola opens upward.
		</explanation>
    </question>
</quiz>
