<quiz name="Check your understanding">
    <question multiple>
        <description>Pair the graph with the corresponding quadratic equation: (the graph was obtained using the applet in http://rechneronline.de/function-graphs/)
        <br> <img src = "../../eip-diagnostic/quadratic-frog/img/quadratic-frog-03.png">
        </description>
	    <answer correct> $$y = -x^2$$ </answer>
        <answer> $$y = x^2 - x$$ </answer>
	    <answer> $$y = x^2$$ </answer>
	    <answer> $$y = x^2 + x$$ </answer>
        <explanation> $$y = -x^2$$ <br>
        <br> When the coefficients $$b$$ and $$c$$ of a quadratic equation are 0, the only solution to the formula is 0. Hence why the corresponding graph is the parabola that contains the point $$(0,0)$$. For $$y = -x^2$$ the parabola opens downwards. <br>
		</explanation>
    </question>
</quiz>
