<quiz name="Check your understanding">
    <question multiple>
        <description>Assume that the recursive function <code>foo</code>
          is invoked when the user clicks on a cell x,y in the grid.
          <code>colorClicked</code> is the current color of the x,y cell and <code>toolColor</code>
          is the color to which we would like to paint the cell.
          What does <code>foo</code> accomplish?
          <br>
          <img src="../../eip-diagnostic/gridplot/img/gridplot-01.png" />
        </description>
        <answer>
          Paints the whole grid with color <code>toolColor</code>.
        </answer>
        <answer >
          Inverts the colors of all cells in the grid.
        </answer>
        <answer correct>
           Paints a vertical line of color <code>toolColor</code> from the clicked cell
           toward the edges or until it finds another cell with color <code>toolColor</code>.
        </answer>
        <answer>
          Paints a square of cells whose dimensions do not exceed those of the grid
          or until any of the square sides collides with a cell of color  <code>toolColor</code>.
        </answer>
        <explanation>
          Analyzing the <code>foo</code> function we notice that it autoinvokes for
          all values of <code>y</code> from the initial value (the y of the clicked cell)
          toward the edges of the grid or until it finds a cell whose color is already
          <code>toolColor</code>. The value of <code>x</code> remains constant.
          Therefore, the result is a vertical line.
        </explanation>
    </question>
</quiz>
