<quiz name="Check your understanding">
    <question multiple>
        <description>
          What is the output of the <code>bah(3)</code>?
          <br>
          <img src="../../eip-diagnostic/gridplot/img/gridplot-02.png" />
        </description>
        <answer>
          3 2 1 0
        </answer>
        <answer correct>
          3 4 5 5 4 3
        </answer>
        <answer>
          3 3 4 4 5 5
        </answer>
        <answer>
          3 4 5 6 . . . . (infinite loop)
        </answer>
        <explanation>
          As you can see in the recursion graph, the invocations first print the numbers 3 4 5.
          When <code>bah(6)</code> is called, the condition <code>i &gte; 5</code> is false,
          and the functions return in the reverse order in which they were invoked, printing out 5 4 3.
          <img src="../../eip-diagnostic/gridplot/img/gridplot-03.png" />
        </explanation>
    </question>
</quiz>
