<quiz name="Check your understanding">
    <question multiple>
        <description>ESTA PREGUNTA ESTA CONFUSA REHACER!!!! 
        Suppose that we have an object called <code>aPacket</code> of the <code>ethernet_packet</code> class. The class <code>ethernet_packet</code> has a data member called <code>ethernet</code> of type <code>sniff_ethernet</code>, which is a structure.
        <code>ethernet</code> object of the <code>ethernet_packet</code> class inherits attributes of the <code>struct</code> defined as <code>sniff_ethernet</code>, which has an array called <code>ether_dhost[]</code> as an attribute that stores the <code>host</code> origin address. Which of the following instructions would allow us to access the fourth element of the <code>ether_dhost[]</code> array in the <code>ethernet</code> object?
        </description>
        <answer> <code>ether_dhost[4];</code> </answer>
        <answer> <code>ethernet[4].ether_dhost;</code> </answer>
        <answer correct> <code>ethernet.ether_dhost[4];</code> </answer>
        <answer> <code>ethernet[4];</code> </answer>
        <explanation>Since the <code>ethernet</code> object inherits attributes from the <code>struct</code> called <code>sniff_ethernet</code>, these are public and can be accessed with the instruction <code>nameOfObject.attribute</code>. Since the <code>struct</code> does not have setters and getters, we can just use the instruction <code>ethernet.ether_dhost[4];</code> since the <code>ethernet</code> object stores the <code>ether_dhost[]</code> array. Therefore, the correct answer is the third option: <code>ethernet.ether_dhost[4];</code>.
        </explanation>
    </question>
</quiz>
