<quiz name="Check your understanding">
  <question multiple>
    <description>
    A lazy programmer has given you the following class declaration:
<img src="../../eip-diagnostic/simple-sniffer/img/simple-sniffer-01.png"><br>
Which of the following is most likely a **getter**?</description>
        <answer > <code>myClass()</code> </answer>
        <answer correct> <code>int xx()</code> </answer>
        <answer> <code>void zz(int someValue)</code> </answer>
        <answer> <code>a</code> </answer>
        <explanation>The correct answer is `xx`. Getter functions read a value from one or more data members. Thus the protoype of a getter is a non-void function without parameters. About the rest of the options:<br>
&#8226; <code> myClass </code> is a <b>constructor</b> (it has the same name as the class)<br>
&#8226; <code> void zz(int someValue)</code> is most probably a seter since it is a void function that receives a parameter of the type of one of the class' data members<br>
&#8226; <code> a </code> is a data member.</explanation>
  </question>
</quiz>
   
