<quiz name="Check you understanding">
    <question multiple>
        <description>Which is the RGB (24-bits) representation for black?</description>
        <answer correct><code>0xFF000000</code></answer>
        <answer><code>0xFFFFFFFF</code></answer>
        <answer><code>0xFF111111</code></answer>
        <answer><code>0xFFFF00FF</code></answer>
        <explanation>The (pure) black color is represented in RGB by <code>0xFF000000</code>, indicative of all the tones (red, green, blue) in its minimum intensity.   </explanation>
    </question>
</quiz>
