<quiz name="Check you understanding">
    <question multiple>
        <description>If the RGB (24-bit) representation of a pixel is <code>0xFF0000FF</code>, what is the color of the pixel?</description>
        <answer>red</answer>
        <answer correct>blue</answer>
        <answer>green</answer>
        <answer>black</answer>
        <explanation>This pixel is <b>blue</b> because it has intensities of <code>0x00</code> for red and green, and maximum intensity <code>(0xFF)</code> for blue. </explanation>
    </question>
</quiz>
