<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>¿Cuál es la mediana de los siguientes tres p&iacute;xeles (seg&uacute;n explicamos en la secci&oacute;n Mediana de P&iacute;xeles)?
        <br><code>0x00FF00</code> , <code>0x00FE01</code> , <code>0x00FD00</code>
        </description>
        <answer> <code>0x01FG00</code> </answer>
        <answer correct> <code>0x00FE00</code> </answer>
        <answer> <code>0x00FF01</code> </answer>
        <answer> <code>0x01FD01</code> </answer>
        <explanation>
       	Para encontrar la mediana de un conjunto de valores, primero se ordenan de forma ascendente. En el caso de una lista con un largo **impar**, la media corresponde al valor del medio de la lista ordenada. En este caso, como estamos manejando pixeles, se computa la mediana de los valores de rojo (R), verde (G), y azul (B) individualmente. Los valores de rojo en este vector son 00, 00 y 00. Por lo tanto el valor del medio es 00. Los valores de verde en este vector son FF, FE y FD, que en orden son FD, FE, y FF. Por lo tanto, el valor del medio es FE. Los valores de azul son 00, 01 y 00, que en orden son 00, 00 y 01. Por lo tanto, el valor del medio es 00. Uniendo estos valores, construimos la mediana: <code>0x00FE00</code>.  
        </explanation>
    </question>
</quiz>
