<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>Suponga que la función <code>sort(int A[], int size)</code> recibe como argumentos un arreglo de enteros y el tamaño del arreglo y ordena el arreglo en orden ascendente. ¿Cuál de los siguientes pedazos de código  devolverá la mediana de los enteros almacenados en el arreglo? Asuma que el número de elementos en el arreglo es **impar**.
        </description>
        <answer correct> <code>sort(A, size); return A[size/2];</code> </answer>
        <answer> <code>sort(A/2, size); return A;</code> </answer>
        <answer> <code>sort(A, size/2); return A;</code> </answer>
        <explanation>
       	La respuesta correcta es la primera opción, ya que primero necesitamos ordenar el arreglo y luego buscar el valor del medio para así calcular la mediana. La instrucción <code>sort(A, size);</code> ordena el arreglo de forma ascendente, y entonces es solo necesario encontrar el valor en el medio con <code>return A[size/2];</code> ya que tenemos un número **impar** de elementos. La segunda opción no es válida, ya que la operación <code>A/2</code> no se podrá realizar. La tercera opción solo va a ordenar la primera mitad, ya que en la función <code>sort()</code>, se ordena hasta la posición dada con el argumento <code>size</code> lo cual no permitirá calcular la mediana.  
        </explanation>
    </question>
</quiz>
