<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>¿Qué está almacenado en el vector <code>exam</code> al final del código?
        <br><img src="../../eip-diagnostic/pesky-tourist/img/pesky-tourist-01.png"></description>
        <answer> <code>0, 3, 5, 6, 10, 15</code> </answer>
		<answer correct> <code>0, 3, 5, 6, 9, 10, 12</code> </answer>
		<answer> <code>0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14</code> </answer>
		<answer> <code>0</code> </answer>
		<answer> <code>0, 3, 5</code> </answer>
        <explanation>
       	La función <code>push_back()</code> de los vectores inserta el elemento al final del vector. El for loop genera los enteros desde el 0 hasta el 14. Solo los valores que sean divisibles entre 3 y 5 serán añadidos al vector exam. La primera opción está incorrecta ya que faltan 9 y 12, y ambos modulo 3 dan 0. Además, el 15 no estará, ya que el for loop no permite que se ejecute el código cuando la <code>i</code> es 15.  La segunda opción es la correcta, ya que como <code>push_back()</code> añade los elementos al final del vector, en este caso los va a añadir en orden ascendente. La tercera opción es incorrecta ya que tiene todos los números de 0-14, y muchos de ellos no son divisibles por 3 o 5. La cuarta y quinta opción también son incorrectas ya que faltan números. Por lo tanto la solución correcta es: 0, 3, 5, 6, 9, 10, 12. 
        </explanation>
    </question>
</quiz>
