<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>¿Cuáles serán los primeros cuatro valores de $$x$$ y $$y$$ en el siguiente ciclo?
<br> <img src="../../eip-diagnostic/pretty-plots/img/pretty-plots-02.png">
        </description>
        <answer>$$x = 0, 1, 2, 3$$ &nbsp;&nbsp;&nbsp;&nbsp; $$y = 0.1, 0.2, 0.3, 0.4$$</answer>
        <answer correct>$$x =0.0, 0.5, 1, 1.5$$ &nbsp;&nbsp;&nbsp;&nbsp; $$y = 1.0, 1.05, 1.1,  1.15$$ </answer>
        <answer>$$x = 0, 5, 10, 15$$ &nbsp;&nbsp;&nbsp;&nbsp; $$y = 0.0, 0.5, 1, 1.5$$</answer>
        <explanation>El ciclo 
<code>for (double t = 0.0; t < 6.28; t = t + 0.05)</code>
se repite siempre y cuando el valor de $$t$$ sea menor que $$6.28$$. En cada iteración el valor de $$t$$ incrementa en $$0.05$$. Por lo tanto, los primeros cuatro valores de $$t$$ serán <b>0, 0.05, 0.10 y 0.15</b>. Los valores de $$x$$ serán $$0.0, 0.5, 1, 1.5$$. Los de $$y$$ serán $$1.0, 1.05, 1.1, 1.15$$. 
</explanation>
    </question>
</quiz>
