<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>La forma más común de generar diversos valores para el parámetro $$t$$ en un programa es usando una estructura de repetición como el <b>ciclo for</b>. ¿Cuáles son los primeros cuatro valores que asume $$t$$ en el siguiente ciclo for?
        <br> <img src="../../eip-diagnostic/pretty-plots/img/pretty-plots-01.png">
        </description>
        <answer correct>0, 0.05, 0.10 y 0.15.</answer>
        <answer>0, .628, 1.56, y 6.28</answer>
        <answer>0, 1, 2, y 3.</answer>
        <explanation>El ciclo 
<code>for (double t = 0.0; t < 6.28; t = t + 0.05)</code>
se repite siempre y cuando el valor de $$t$$ sea menor que $$6.28$$. En cada iteración el valor de $$t$$ incrementa en $$0.05$$. Por lo tanto, los primeros cuatro valores serán <b>0, 0.05, 0.10 y 0.15</b>.
</explanation>
    </question>
</quiz>
