<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>¿Cuál es el resultado de la siguiente expresión en C++: <code>( 11 &lowast; 4 + 1 &lowast; 2 ) / 12</code>? Nota que la operación usa solo enteros 
        </description>
        <answer correct>3</answer>
        <answer >3.83</answer>
        <answer>3.91</answer>
        <answer>4</answer>
        <explanation>El resultado es <code>3</code> pues <code>46 / 12</code> se realiza como división de enteros, que resulta en el cociente.
		</explanation>
    </question>
</quiz>
