<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>Grafica algunos de los puntos $$(x,y)$$ con ecuaciones paraméticas $$x = 2t$$ y $$y = t$$. Por ejemplo, para $$t = 0,1,2,3$$ ¿Qué curva obtienes?
        </description>
        <answer correct>Una línea recta que pasa por el origen.</answer>
        <answer>Un círculo de radio $$2$$.</answer>
        <answer>Una parábola que cruza el eje de $$x$$ en $$-2$$ y $$+2$$.</answer>
        <explanation>La curva que resulta de las ecuaciones paramétricas $$x = 2t$$ y $$y = t$$ es una línea con pendiente $$0.5$$ ($$y = 0.5x$$).</explanation>
    </question>
</quiz>
