<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>En uno de los ejercicios de este laboratorio crearás un programa para calcular el promedio de notas de un estudiante. ¿Cuál sería el promedio de un estudiante que sacó diez A's y una C (asumiendo que cada A vale 4 puntos y cada C vale 2)? 
        </description>
        <answer >3.16</answer>
        <answer correct>3.82</answer>
        <answer>3.91</answer>
        <answer>4.00</answer>
        <explanation>El promedio se calcula usando $$\frac{\left( Numero\, de\, A's \times Valor\,de\,A \right) + \left( Numero\, de\, B's \times Valor\,de\,B \right) + \ldots}{Number\,Total\,de\,Notas}$$ En este caso, el GPA es: $$\frac{ (10 \times 4.0) + (1 \times 2.0) }{11} = 3.82$$. 
</explanation>
    </question>
</quiz>
