<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>¿Cuál es el resultado de la siguiente expresión en C++: <code>static_cast&lt;double> ( ( 10 &lowast; 4 + 1 &lowast; 2 ) / 11)</code> ?
        </description>
        <answer correct>3.0</answer>
        <answer >3.83</answer>
        <answer>3.91</answer>
        <answer>4.0</answer>
        <explanation>El resultado es <code>3.0</code> pues el <code>static_cast&lt;double></code> afecta el resultado de la expresión (la cual ya es entera pues fue realizada exclusivamente entre enteros).
		</explanation>
    </question>
</quiz>
