<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>¿Cuál es el valor aproximado de $$x$$ y $$y$$ cuando el valor del parámetro $$t$$ es $$\frac{3\pi}{4}$$?
        </description>
        <answer correct>$$x = -0.707$$, $$y = +0.707$$
</answer>
        <answer>$$x = -0.707$$, $$y = -0.707$$</answer>
        <answer>$$x = +0.707$$, $$y = -0.707$$ </answer>
        <explanation>$$x = cos\left(\frac{3\pi}{4}\right) = -0.707$$<br>$$y = sin\left(\frac{3\pi}{4}\right) = +0.707$$</explanation>
    </question>
</quiz>
