<quiz name="Check your understanding">
    <question multiple>
        <description>How would you define an object of the <code>Bird</code> class called <code>piolin</code>?
        </description>
        <answer> <code>Bird instance piolin;</code> </answer>
	<answer> <code>piolin class Bird;</code> </answer>
	<answer> <code>piolin(Bird);</code> </answer>
	<answer correct> <code>Bird piolin;</code> </answer>
	<answer> <code>Bird::piolin</code> </answer>
        <explanation>Out of all the options, the only valid one is <code>Bird piolin;</code> since the <code>Bird</code> class has a constructor that requires no arguments.
	</explanation>
    </question>
</quiz>
