<quiz name="Check your understanding">
    <question multiple>
        <description>Assuming that <code>abelardo</code> is an object of type <code>Bird</code>, how would you invoke the method <code>getSize</code> on <code>abelardo</code>?
        </description>
        <answer> <code>getSize.abelardo;</code> </answer>
	<answer correct> <code>abelardo.getSize();</code> </answer>
	<answer> <code>getSize(abelardo);</code> </answer>
	<answer> <code>abelardo::getsize</code> </answer>
	<answer> <code>Bird::abelardo.getSize()</code> </answer>
        <explanation>Out of the options, the only valid one is <code>abelardo.getSize();</code>. The syntax to invoke a method on an object is: <code>NameOfObject.NameOfMethod(parameters)</code>.
	</explanation>
    </question>
</quiz>
