<quiz name="Check your understanding">
    <question multiple>
        <description>Which of the following is(are) a correct way of creating an object of type <code>Bird</code>?
        </description>
        <answer> <code>Bird a(200);</code> </answer>
	<answer correct> <code>Bird b;</code> </answer>
	<answer correct> <code>Bird c(200, Bird::UPSET, “blue”, “red”);</code> </answer>
	<answer> <code>Bird d(Bird);</code> </answer>
	<answer> <code>Bird::f;</code> </answer>
        <explanation>The first option is **NOT** correct, since it tries to create a <code>Bird</code> object passing only one argument. The <code>Bird</code> class has two constructors: one that does not need to receive arguments and another one that needs to receive four or five arguments. The second option: <code>Bird b;</code> would invoke the constructor that does not receive arguments. The third option: <code>Bird c(200, Bird::UPSET, “blue”, “red”)</code> invokes the constructor that receives four of five arguments. The other two options are not valid either.
	</explanation>
    </question>
</quiz>
