<quiz name="Check your understanding">
    <question multiple>
        <description>Which of the following is valid to change the size of an object called <code>cotorra</code> of the <code>Bird</code> class?
        </description>
        <answer correct> <code>cotorra.setSize(10);</code> </answer>
	<answer> <code>setSize(cotorra,10);</code> </answer>
	<answer> <code>cotorra.setSize() = 10;</code> </answer>
	<answer> <code>cotorra.size = 10</code> </answer>
	<answer> <code>Bird::cotorra.setSize() = 10</code> </answer>
        <explanation>Out of the options, the only valid one is <code>cotorra.setSize(10);</code>. The syntax to invoke a method on an object is: <code>NameOfObject.NameOfMethod(parameters)</code>. The method <code>setSize()</code> requires an argument of integer type (that is provided between the parenthesis).
	</explanation>
    </question>
</quiz>
