<quiz name="Check your understanding">
    <question multiple>
        <description>Which of the following are methods of the <code>Bird</code> class?
        </description>
        <answer correct> <code>setEyeColor</code> </answer>
	<answer correct> <code>setFaceColor</code> </answer>
	<answer correct> <code>getSize</code> </answer>
	<answer> <code>getHeight</code> </answer>
	<answer correct> <code>getEyebrow</code> </answer>
        <explanation>All of the names correspond to a method of the <code>Bird</code> class, except <code>getHeight</code>.
	</explanation>
    </question>
</quiz>
