<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>Si las variables $$a$$ y $$b$$ contienen $$0x56$$ y $$0x78$$  ¿cuál sería el contenido de r, luego de la asignación $$r = a \& b$$?
        </description>
        <answer>$$0x00$$</answer>
        <answer correct>$$0x50$$</answer>
        <answer>$$0x7E$$ </answer>
        <answer>$$0xCE$$ </answer>
        <explanation>El contenido sería 0x50.
        <br><img src="./eip-diagnostic/steganography/img/steganography-01.png" /><br> </explanation>
        </explanation>
    </question>
</quiz>
