<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>Suponga que deseamos empotrar los tres bits <code>110</code> en los componentes rojo, verde y azul de un pixel con color <code>0x345678</code>. ¿Cuál sería el valor del color luego que empotramos los tres bits?
        </description>
        <answer>$$0x345678$$</answer>
        <answer>$$0x355678$$</answer>
        <answer correct>$$0x355778$$ </answer>
        <answer>$$0x355779$$ </answer>
        <explanation>El valor del color sería $$0x355778$$, pues: 
        	<br>
		<br>* El color rojo cambiaría de <code>0x34</code> a <code>0x35</code> luego que encendemos el bit menos significativo <code>(0011 0100 --> 0011 0101)</code> <br>
		<br>* El color verde cambiaría de <code>0x56</code> a <code>0x57</code> luego que encendemos el bit menos significativo <code>(0101 0110 --> 0101 0111)</code><br>
		<br>* El color azul no cambiaría pues <code>0x78</code>  <code>(0111 1000)</code> ya tiene un <code>0</code> en el bit menos significativo.<br>
			<br>
	</explanation>
    </question>
</quiz>
