<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>¿Con qué número debemos hacer un $$OR$$ si deseamos encender el bit #3 de otro número de 8 bits (y dejando el resto de los bits intacto)?
        </description>
        <answer>$$00000111$$</answer>
        <answer correct>$$00001000$$</answer>
        <answer>$$11111111$$ </answer>
        <answer>$$11110111$$ </answer>
        <explanation>Cuando realizamos un bitwise OR con el número <b>00001000</b> encedemos el bit #3 y mantenemos los otros bits intactos. </explanation>
    </question>
</quiz>
