<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>La función <code>qRed()</code> extrae el byte que corresponde al componente rojo de un pixel. Suponga que <code>p</code> contiene el color de un pixel. ¿Cuál de las siguientes describe mejor la operación que realiza la siguiente instrucción?:
            <br>
            st = ( qRed(p) & 1  == 0 ) ? "0" : "1";
            </br>
        </description>
        <br> <br>
        <answer correct>Asigna <code>0</code> a st si el bit menos significativo del componente rojo es 0.</answer>
        <answer>Asigna <code>0</code> a st si $$1 == 0$$ .</answer>
        <answer>Asigna <code>0</code> a st si el valor del componente rojo es impar.</answer>
        <answer correct>Asigna <code>0</code> a st si el valor del componente rojo es par.</answer>
        <explanation>La operación <code>qRed(p) &amp; 1</code> es un bitwise and entre el componente rojo y el número binario <code>00000001</code>. Por lo tanto, esta instrucción resulta en <code>0</code> solo si el componente rojo tiene un <code>0</code> en su bit menos significativo, que equivale a que el componente rojo es un número par. Si el resultado de el bitwise AND es 0, se asigna <code>0</code> al st.</explanation>
    </question>
</quiz>
