<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>¿Con qué número debemos hacer un $$AND$$ si deseamos apagar el bit #3 de otro número de 8 bits (y dejando el resto de los bits intacto)?
        </description>
        <answer>$$00000111$$</answer>
        <answer>$$00001000$$ </answer>
        <answer>$$11111111$$ </answer>
        <answer correct>$$11110111$$</answer>
        <explanation>Cuando realizamos un bitwise AND con el número <b>11110111</b> apagamos el bit #3 y mantenemos los otros bits intactos. </explanation>
    </question>
</quiz>
