<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>Supon que deseas empotrar un 1 en el bit menos significativo del byte que contiene la variable <code>a</code>. ¿Cuál sería la instrucción más indicada?
        </description>
        <answer correct>$$a = a | 0x01$$</answer>
        <answer>$$a = a | 0xFE$$ </answer>
        <answer>$$a = a \& 0x11$$ </answer>
        <answer>$$a = a \& 0x01$$</answer>
        <explanation>La operación <code>a = a | 0x01</code> logra encender el bit menos significativo de la variable <code>a</code> sin modificar los otros bits.</explanation>
    </question>
</quiz>
