<quiz name="Check your understanding">
    <question multiple>
        <description>What would be the Vigenere cypher of the phrase <code>SEASALTFELT</code> with the key <code>XANFNVJRWYJ</code>?
		</description>
        <answer correct><code>PENXNGCWAJC</code></answer>
        <answer><code>QZNANLVOWLC</code></answer>
        <answer><code>JMJAELQITLA</code></answer>
        <answer><code>AQDHDKSUDSX</code></answer>
        <explanation>The first option is correct. If the <code>A</code> represents a displacement of <code>0</code> spaces, we can find the displacement of the other letters. The <code>X</code> represents a displacement of <code>23</code> spaces, therefore <code>(S + 23) % 26</code> is <code>P</code> (rememeber that the range is <code>0-25</code> since we're using modulus <code>26</code>), the <code>A</code> represents <code>0</code> spaces, therefore <code>(E + 0) % 26</code> is <code>E</code>, the <code>N</code> moves the <code>A</code> <code>13</code> spaces, etc. When we calculate the result, we find that the cyphered message is <code>PENXNGCWAJC</code>. </explanation>
    </question>
</quiz>
