<quiz name="Check your understanding">
    <question multiple>
        <description>Suppose that we have two string objects, <code>stOne</code> and <code>stTwo</code> whose characters are all lowercase. Which of the following codes verifies that <code>stOne</code> and <code>stTwo</code> have the same length, and then change them to uppercase?
        </description>
        <answer><img src="../../eip-diagnostic/vigenere/img/vigenere-01.png"></answer>
        <answer correct><img src="../../eip-diagnostic/vigenere/img/vigenere-02.png"></answer>
        <answer><img src="../../eip-diagnostic/vigenere/img/vigenere-03.png"></answer>
        <answer><img src="../../eip-diagnostic/vigenere/img/vigenere-04.png"></answer>
        <explanation>The first option is incorrect since it first compairs the **content** of the strings instead of their length.
        <br>The second option is the correct one, since it compairs the length of <code>stOne</code> and <code>stTwo</code>, before entering the for loop. Notice that the loop's condition is <code>i < stOne.length()</code>, which will allow us to generate  integers from 0 up to the length of the strings minus one. Since we made sure that <code>stOne</code> and <code>stTwo</code> have the same length, it does not matter which we use for the for loop's condition. When traversing the string, we access the indivdual characters using <code>[i]</code>, and we store it once again in the same position of the string using <code>[i]</code> again, altering the original string.
        <br>The third option is incorrect since it compairs the **contents** of the strings instead of their length. Besides that, the code inside of the if does not work since it uses <code>toupper</code> incorrectly. The <code>toupper()</code> function should receive as argument a character, and not a string.
        <br>The fourth option is incorrect since it does not implement the change to uppercase correctly inside the for loop. Notice that <code>toupper()</code> is invoked with each character, which is correct, but the change is not assigned to the corresponding position in each string. If we printed out <code>stOne</code> and <code>stTwo</code> after, they would be the same.
		</explanation>
    </question>
</quiz>
