<quiz name="Check your understanding">
    <question multiple>
        <description>What is the result of executing the following code?
        <br> <img src="../../eip-diagnostic/vigenere/img/vigenere-05.png">
        </description>
        <answer> Displays <code>pizzapizza</code> </answer>
        <answer> Nothing, it does not run because of errors. </answer>
        <answer correct> Displays <code>pizzaAZZIP</code> </answer>
        <answer> Displays <code>pizzaPIZZA</code> </answer>
        <explanation>The correct answer is the third one (<code>pizzaAZZIP</code>). In the code, the variable <code>length</code> represents the length of the string <code>stUp</code>, which is 5. The for loop traverses the string starting from the end. The <code>i</code> starts in <code>length - 1</code> since we want to start at the last position in the string. Remember that the positions in the string, as in arrays, start in 0 and end in length - 1. The <code>i</code> decreases in each iteration, starting in 4, then 3, then 2, etc. The instruction <code>stUp.push_back(toupper(stUp[i]));</code> adds the characters of the string in uppercase to the end of <code>stUp</code>, but backwards. Because of this, with each iterations an extra letter is added and we end up with <code>pizzaAZZIP</code>.
		</explanation>
    </question>
</quiz>
