<quiz name="Check your understanding">
    <question multiple>
    <description>If the object <code>mom</code> has <code>”red”</code> eyes, what eye color will the object <code>son</code> have after the following code?
    <br> <img src = "../..//eip-diagnostic/birth-of-a-bird-inheritance/img/birth-of-a-bird-inheritance-02.png">
    </description>
    <answer> <code>”white”</code> </answer>
	<answer correct> <code>”blue”</code> </answer>
	<answer> <code>”red”</code> </answer>
	<answer> <code>”yellow”</code> </answer>
    <explanation>Since <code>mama.getEyeColor()</code> returns <code>”red”</code>, the conditional expression on line 5 will become true, so the color <code>”white”</code> is assigned to the eyes of <code>son</code>. Afterwards, the conditional expression on line 8 also becomes true, so the color <code>”blue”</code> is assigned to <code>son</code>. The final color is <code>”blue”</code>.
	</explanation>
    </question>
</quiz>
