<quiz name="Check your understanding">
    <question multiple>
    <description>The current size of the Bird called <code>son</code> is 15. What size value will the follow instruction assign to <code>son</code> if the <code>mother</code> has size 10? 
    <br> <code>son.setSize( mother.getSize() < 10 ? son.getSize() : son.getSize() * 2 );<code> <br>
    </description>
    <answer> <code>9</code> </answer>
    <answer> <code>10</code> </answer>
    <answer> <code>15</code> </answer>
    <answer correct><code>30</code> </answer>
    <explanation>The conditional expression <code>mother.getSize() < 10</code> is false (since 10 is not less than 10), and so the result of the expression <code>mother.getSize() < 10 ? son.getSize() : son.getSize() * 2</code> is <code>15 * 2</code>, or <code>30</code>. 
	</explanation>
    </question>
</quiz>
