<quiz name="Check your understanding">
    <question multiple>
    <description>If the object <code>mom</code> has <code>”red”</code> eyes, what eye color will the object <code>son</code> have after the following code?
    <br> <img src = "../../eip-diagnostic/birth-of-a-bird-inheritance/img/birth-of-a-bird-inheritance-01.png">
    </description>
    <answer correct> <code>”white”</code> </answer>
	<answer> <code>”blue”</code> </answer>
	<answer> <code>”red”</code> </answer>
	<answer> <code>”yellow”</code> </answer>
    <explanation>Since <code>mama.getEyeColor()</code> returns <code>”red”</code>, the conditional expression on line 5 will become true, so the color <code>”white”</code> is assigned to the eyes of <code>son</code>. Observe that the conditional expression on line 8 is also true, but in this case in the structure of `if-else if`, the first case that becomes true is the one that determines what block of code will be executed. The <code>else if</code> and <code>else</code> blocks are never executed in this case, and so the program continues onto what's after line 12.
	</explanation>
    </question>
</quiz>
