<quiz name="Check your understanding">
    <question multiple>
    <description>Which of the following would make the object <code>son</code> of the <code>Bird</code> class have the height of its <code>father</code> (also an object of the <code>Bird</code> class)?
    </description>
    <answer> <code>son.setSize( father.setSize(10) );</code> </answer>
	<answer> <code>son.getSize( father.getSize(10) );</code> </answer>
	<answer correct> <code>son.setSize( father.getSize() );</code> </answer>
	<answer> <code>son.setSize() = father.get(10);</code> </answer>
    <explanation>We should invoke the method <code>setSize</code> on the son using as argument the result of invoking <code>getSize</code> on the father. The answer is <code>hijo.setSize( padre.getSize() );</code>.
    </explanation>
    </question>
</quiz>
