<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>¿Cual(es) de las siguientes es(son) forma(s) correcta(s) de crear un objeto de tipo <code>Bird</code>?
        </description>
        <answer> <code>Bird a(200);</code> </answer>
	<answer correct> <code>Bird b;</code> </answer>
	<answer correct> <code>Bird c(200, Bird::UPSET, “blue”, “red”);</code> </answer>
	<answer> <code>Bird d(Bird);</code> </answer>
	<answer> <code>Bird::f;</code> </answer>
        <explanation>La primera opción **NO** es una forma correcta, pues pretende crear un objeto <code>Bird</code> pasando un solo argumento. La clase <code>Bird</code> tiene dos constructores: uno que no necesita recibir argumentos y otro que necesita recibir cuatro o cinco argumentos. La segunda opción: <code>Bird b;</code> invocaría al constructor que no recibe argumentos. La tercera opción: <code>Bird c(200, Bird::UPSET, “blue”, “red”)</code> invoca al constructor que recibe cuatro o cinco argumentos. Las otras dos opciones tampoco son válidas.
	</explanation>
    </question>
</quiz>
