<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>¿Cuál de las siguientes muestra una forma válida de cambiar el tamaño a un objeto llamado <code>cotorra</code> de la clase <code>Bird</code>?
        </description>
        <answer correct> <code>cotorra.setSize(10);</code> </answer>
	<answer> <code>setSize(cotorra,10);</code> </answer>
	<answer> <code>cotorra.setSize() = 10;</code> </answer>
	<answer> <code>cotorra.size = 10</code> </answer>
	<answer> <code>Bird::cotorra.setSize() = 10</code> </answer>
        <explanation>De las opciones, la única forma válida es <code>cotorra.setSize(10);</code>. La sintaxis para invocar un método de un objeto es: <code>NombreDelObjeto.NombreDelMetodo(parámetros)</code>. El método <code>setSize()</code> requiere un argumento de tipo entero (que se provee entre los paréntesis).
	</explanation>
    </question>
</quiz>
