<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>Presumiendo que <code>abelardo</code> es un objeto de tipo <code>Bird</code> ¿Cómo invocarías el método <code>getSize</code> a <code>abelardo</code>?
        </description>
        <answer> <code>getSize.abelardo;</code> </answer>
	<answer correct> <code>abelardo.getSize();</code> </answer>
	<answer> <code>getSize(abelardo);</code> </answer>
	<answer> <code>abelardo::getsize</code> </answer>
	<answer> <code>Bird::abelardo.getSize()</code> </answer>
        <explanation>De las opciones, la única forma válida es <code>abelardo.getSize();</code>. La sintaxis para invocar un método de un objeto es: <code>NombreDelObjeto.NombreDelMetodo(parámetros)</code>.
	</explanation>
    </question>
</quiz>
