<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>¿Cuáles de los siguientes son nombres de métodos de la clase <code>Bird</code>?
        </description>
        <answer correct> <code>setEyeColor</code> </answer>
	<answer correct> <code>setFaceColor</code> </answer>
	<answer correct> <code>getSize</code> </answer>
	<answer> <code>getHeight</code> </answer>
	<answer correct> <code>getEyebrow</code> </answer>
        <explanation> Todos son nombres de métodos de la clase <code>Bird</code>, excepto <code>getHeight</code>.
	</explanation>
    </question>
</quiz>
