<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>¿Cómo definirías un objeto de clase <code>Bird</code> llamado <code>piolin</code>?
        </description>
        <answer> <code>Bird instance piolin;</code> </answer>
	<answer> <code>piolin class Bird;</code> </answer>
	<answer> <code>piolin(Bird);</code> </answer>
	<answer correct> <code>Bird piolin;</code> </answer>
	<answer> <code>Bird::piolin</code> </answer>
        <explanation>De las opciones, la única forma válida es <code>Bird piolin;</code> ya que la clase <code>Bird</code> tiene un constructor que no requiere argumentos. 
	</explanation>
    </question>
</quiz>
