<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>Si el objeto <code>mama</code> tiene los ojos color <code>"red"</code>, de qué color tendrá los ojos el objeto <code>hijo</code> después del siguiente código?
        <br><img src="../..//eip-diagnostic/birth-of-a-bird-inheritance/img/birth-of-a-bird-inheritance-03.png"><br>
        </description>
        <answer correct><code>"white"</code></answer>
        <answer><code>"blue"</code></answer>
        <answer><code>"red"</code></answer>
        <answer><code>"yellow"</code></answer>
        <explanation>Dado que <code>mama.getEyeColor()</code> devolverá <code>”red”</code>, la expresión condicional de la línea 16 se hará cierta, por lo tanto se asignará el color <code>”white”</code> a los ojos de <code>hijo</code>. Observe que la expresión condicional de la línea 19 también se hace cierta, pero en una estructura <code>if-else if</code> el primer enunciado que se haga cierto es el que determina cuál de los bloques se ejecutará. De hecho, el bloque del <code>else if</code> es un bloque muerto, pues nunca será ejecutado.
        <br><img src="../..//eip-diagnostic/birth-of-a-bird-inheritance/img/birth-of-a-bird-inheritance-05.png"><br> </explanation>
    </question>
</quiz>
