<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>¿Cual de los siguientes haría que el objeto <code>hijo</code> de clase Bird tenga la altura de su <code>padre</code> (también objeto de clase Bird)?
        </description>
        <answer><code>hijo.setSize( padre.setSize(10) );</code></answer>
        <answer><code>hijo.getSize( padre.getSize(10) );</code></answer>
        <answer correct><code>hijo.setSize( padre.getSize() );</code></answer>
        <answer><code>hijo.setSize() = padre.get(10);</code></answer>
        <explanation>Debemos invocar el metodo <code>setSize</code> del hijo usando como argumento el resultado de invocar a <code>getSize</code> al padre. La respuesta es <code>hijo.setSize( padre.getSize() );</code> </explanation>
    </question>
</quiz>
