<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>El tamaño actual del Bird llamado hijo es 15. ¿Qué valor asignará la siguiente instrucción al tamaño del <code>hijo</code> si la madre tiene tamaño 10?
        <br><code>hijo.setSize( madre.getSize() < 10 ? hijo.getSize() : hijo.getSize() * 2 );</code><br>
        </description>
        <answer><code>9</code></answer>
        <answer><code>10</code></answer>
        <answer><code>15</code></answer>
        <answer correct><code>30</code></answer>
        <explanation>La expresión condicional <code>madre.getSize() < 10</code> es falsa (pues 10 no es menor que 10), por lo tanto el resultado del enunciado condicional <code>madre.getSize() < 10 ? hijo.getSize() : hijo.getSize() * 2</code> es <code>15 * 2</code>, o sea <code>30</code>.  </explanation>
    </question>
</quiz>
