<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>Si el objeto <code>mama</code> tiene los ojos color <code>”red”</code>, de que color tendrá los ojos el objeto <code>hijo</code> después del siguiente código?
        <br><img src="../..//eip-diagnostic/birth-of-a-bird-inheritance/img/birth-of-a-bird-inheritance-04.png"><br>
        </description>
        <answer><code>"white"</code></answer>
        <answer correct><code>"blue"</code></answer>
        <answer><code>"red"</code></answer>
        <answer><code>"yellow"</code></answer>
        <explanation>Dado que <code>mama.getEyeColor()</code> devolverá <code>”red”</code>, la expresión condicional de la línea 16 se hará cierta, por lo tanto se asignará el color <code>”white”</code> a los ojos de <code>hijo</code>. Luego la expresión condicional de la línea 19 también se hace cierta y se le asigna el color <code>”blue”</code>. El color final es <code>”blue”</code>. </explanation>
    </question>
</quiz>
