<quiz name="Check your understanding">
    <question multiple>
        <description>Consider a definition of a Point class like the following:
          <br>
          <img src="../../eip-diagnostic/basket/img/basket-02.png" />
          <br>
          What is a correct inline implementation for a function isFirstQ which return true if the point is in the first quadrant?
        </description>
        <answer>
          <img src="../../eip-diagnostic/basket/img/basket-03.png" />
        </answer>
        <answer correct>
          <img src="../../eip-diagnostic/basket/img/basket-01.png" />
        </answer>
        <answer>
          <img src="../../eip-diagnostic/basket/img/basket-04.png" /><
        </answer>
        <answer>
          <img src="../../eip-diagnostic/basket/img/basket-05.png" />
        </answer>
        <explanation> The correct answer is:
                    <img src="../../eip-diagnostic/basket/img/basket-01.png" /><br>
           It correctly states the return-type (bool) and correclty uses the objects data members (x and y) inside the conditional expression. The other solutions have several problems:
           <br>
           1. Using xx and yy instead of x and y (xx and yy are just parameters to the constructor, NOT the actual data member names)
             <br> 2. Forgetting to establish the return type.
             <br> 3. Using the class name inside to preceed the data member name (e.g. Point.x) 
        </explanation>
    </question>
</quiz>
