<quiz name="Check your understanding">
    <question multiple>
        <description>
          The function members of a class can have zero o more parameters, depending on the external data that is needed by the function to perform its computation.
          Which of the following methods for the Point class would require 1 or more parameters?
        </description>
        <answer>
          A method $$distanceToOrigin$$ that returns the distance from the point to the origin.
        </answer>
        <answer correct>
          A method $$distanceToPoint$$ that returns the distance between the invoking point and other point.
        </answer>
        <answer>
          A method $$quadrant$$ that returns the number (1, 2, 3, or 4) of the quadrant where the point lies.
        </answer>
        <answer>
          A method $$onAxis$$ that returns true if the point lies in an axis.
        </answer>
        <explanation>
          To compute the distance of two points, the method $$distanceToPoint$$ would require information about other point (besides the data of the invoking object). The rest of the methods could be implemented with 0 parameters.
          <br>One way to implement $$distanceToPoint$$ would be:
          <img src="../../eip-diagnostic/basket/img/basket-07.png" />
        </explanation>
    </question>
</quiz>
