<quiz name="Check your understanding">
    <question multiple>
        <description>Suppose that there was a bonus criteria that assigns 10 points if the password is of an odd length and contains the symbol <code> @ </code> in the center of the string. For example, <code> "j@j" </code> and <code> "bc@de" </code> would receive the bonus. Which would be the adequate way of implementing this score?
	    </description>
        <answer correct><br><img src="../../eip-diagnostic/password-strength/img/password-strength-01.png"><br></answer>
        <answer><br><img src="../../eip-diagnostic/password-strength/img/password-strength-02.png"><br></answer>
        <answer><br><img src="../../eip-diagnostic/password-strength/img/password-strength-03.png"><br></answer>
        <answer><br><img src="../../eip-diagnostic/password-strength/img/password-strength-04.png"><br></answer>
        <explanation>The first option is the correct answer, since it is the only one that has two correct conditional expressions joined by an *AND*. The first condition is that the string must have an odd length. This is achieved by verifying that <code>passwd.length() % 2 == 1</code>. Since in C++ the <code>1</code> is interpreted as true, it is enough to put <code>passwd.length() % 2</code>. The second condition is verified by determining if the character that is in the position <code>passwd.length() / 2</code> is a <code> @ </code>. This is achieved with <code>passwd[ passwd.length() / 2 ] == ‘@’</code>.</explanation>
    </question>
</quiz>
