<quiz name="Check your understanding">
    <question multiple>
        <description>How much would the score be for the password <code> "@uasimodo" </code> for the criteria of **lowercase letters**.
	    </description>
        <answer>0</answer>
        <answer correct>2</answer>
        <answer>16</answer>
        <answer>18</answer>
        <explanation>Since <code> "@uasimodo" </code> does not consist of only lowercase letters, its score for the criteria of **lowercase letters* should be $$\left (2len - n \right) = 2 \left( 9 - 8 \right) = 2$$.</explanation>
    </question>
</quiz>
