<quiz name="Check your understanding">
    <question multiple>
        <description>How much should the score be for the password <code> "QQ2HMIJOX" </code> for the criteria of **consecutive uppercase letters**.
	    </description>
        <answer>0</answer>
        <answer>-8</answer>
        <answer>-10</answer>
        <answer correct>-12</answer>
        <answer>-16</answer>
        <explanation>The password <code> "QQ2HMIJOX" </code> has 6 uppercase letters (<code>Q</code>, <code>M</code>, <code>I</code>, <code>J</code>, <code>O</code>, <code>X</code>) that follow another lowercase letter. Therefore its score for the criteria of **consecutive uppercase letters** should be -12.</explanation>
    </question>
</quiz>
