<quiz name="Check your understanding">
    <question multiple>
        <description>How much would the score be for the password <code> "@uas1m@do" </code> for the criteria of **symbols**?
	    </description>
        <answer>0</answer>
        <answer>2</answer>
        <answer correct>12</answer>
        <answer>18</answer>
        <explanation>Since <code> "@uas1m@do" </code> contains 2 symbols, its score for the criteria of **symbols** should be $$\left (6 \cdot 2 \right) = 12$$.</explanation>
    </question>
</quiz>
