<quiz name="Check your understanding">
    <question multiple>
        <description>How much would the score be for the password <code> "@uasimodo" </code> for the criteria of **only letters**.
	    </description>
        <answer correct>0</answer>
        <answer>8</answer>
        <answer>-8</answer>
        <answer>-9</answer>
        <explanation>Since <code> "@uasimodo" </code> does not consist of letters only, its score for the criteria of **only letters* should be 0.</explanation>
    </question>
</quiz>
