<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>Presuma que la función recursiva <code>foo</code> es invocada cuando se hace click sobre la celda en la posición x,y. <code>colorClicked</code> corresponde a color actual de la celda x,y y <code>toolColor</code> es el el color al que deseamos pintar la celda. &iquest; Qué logra la función <code>foo</code>?
          <br>
          <img src="../../eip-diagnostic/gridplot/img/gridplot-01.png" />
        </description>
        <answer>
          Pinta toda la cuadrícula del color <code>toolColor</code>.
        </answer>
        <answer >
          Invierte los colores de todos las celdas de la cuadrícula.
        </answer>
        <answer correct>
           Pinta una línea vertical de color <code>toolColor</code> desde la celda hasta las esquinas o hasta encontrar otra celda que tenga color <code>toolColor</code>.
        </answer>
        <answer>
          Pinta un cuadrado de celdas cuyas dimensiones no rebasen las esquinas de la cuadrícula o hasta encontrar otra celda que no tenga color <code>toolColor</code>.
        </answer>
        <explanation>
          Al analizar la función <code>foo</code> nos damos cuenta que se autoinvoca para todos los
          valores de <code>y</code> desde el valor inicial (donde dimos click), extendiendose hacia los bordes de la cuadrícula o hasta que x,y corresponda a una celda con el color <code>toolColor</code>. El valor de <code>x</code> permanece constante. Por lo tanto lo dibujado es una línea vertical.
        </explanation>
    </question>
</quiz>
