<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>
          &iquest; Cuál es el output si invocamos la función <code>bah</code> con argumento <code>3</code>?
          <br>
          <img src="../../eip-diagnostic/gridplot/img/gridplot-02.png" />
        </description>
        <answer>
          3 2 1 0
        </answer>
        <answer correct>
          3 4 5 5 4 3
        </answer>
        <answer>
          3 3 4 4 5 5
        </answer>
        <answer>
          3 4 5 6 . . . . (loop infinito)
        </answer>
        <explanation>
          Como puede observar en el grafo de recursión, primero se imprimirán los números desde 3 hasta 5.
          Luego, al no cumplirse la condición <code>i &gte; 5</code> las funciones regresarán en el orden
          inverso en que fueron invocadas, imprimiendo 5 4 3.
          <img src="../../eip-diagnostic/gridplot/img/gridplot-03.png" />
        </explanation>
    </question>
</quiz>
