<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>Consider the following code:
            <br><img src="../../eip-diagnostic/sticks/img/sticks-03.png"><br>
            Which of the following would be considered <b>incorrect</b> values? 
        </description>
        <answer>9</answer>
        <answer>10</answer>
        <answer correct>11</answer>
        <answer correct>-5</answer>
        <explanation>The while loop will keep looping and printing "Incorrect value" as long as the value of x is less than 0 or greater than 10. Therefore, the incorrect values are 11 and -5.</explanation>
    </question>
</quiz>
