<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>Consider the following code:
            <br><img src="../../eip-diagnostic/sticks/img/sticks-02.png"><br>
            How many times would the phrase "La vaca" be printed if the user keeps entering the value 6? 
        </description>
        <answer>0</answer>
        <answer>1</answer>
        <answer>2</answer>
        <answer correct>3</answer>
        <answer>6</answer>
        <explanation>Note that <code>total</code> is the loop control variable. The do while will keep looping as long as <code>total</code> is greater than 0. 
        At the end of the first iteration <code>total = 15 - 6 = 9</code>. 
        At the end of the second iteration <code>total = 9 - 6 = 3</code>. 
        At the end of the third iteration <code>total = 3 - 6 = -3</code>. 
        This value makes the relational expression false and ends iterations. Thus, "La vaca" will be printed three times.
        </explanation>
    </question>
</quiz>
