<quiz name="Check your understanding">
    <question multiple>
        <description>Consider the following code:
        	<br><img src = "../../eip-diagnostic/car-scrolling/img/car-scrolling-001.png"><br>
        	<br>What is the value of variable <code>x</code> at the end?<br>
        </description>
        <answer correct> 9 </answer>
        <answer> 10 </answer>
        <answer> 11 </answer>
        <answer> 76 </answer>
        <explanation>The value of <code>x</code> at the end of this code is 9. 
        <br> 
        The first case (<code>case 'A'</code>) matches the value of variable <code>c</code> and assigns 10 to the variable <code>x</code>.  However, this case is not ended by a <code>break</code> so the program flow continues onto <code>x--</code>. Thus the final value is <b>9</b>. The moral of this story is: remember to end each case of a <code>switch</code> with a <code>break</code> unless you are planning for some funky program behavior.
        </explanation>
    </question>
</quiz>
