<quiz name="Check your understanding">
    <question multiple>
        <description>Consider the following code:
        	<br><img src = "../../eip-diagnostic/car-scrolling/img/car-scrolling-002.png"><br>
        	<br>What values of <code>carY</code> and <code>rotoY</code> will increment the value of <code>score</code><br>
        </description>
        <answer> <code>carY = 120</code>, <code>rotoY = 122</code> </answer>
        <answer> <code>carY = 11</code>, <code>rotoY = 15</code>  </answer>
        <answer correct> <code>carY = 12</code>, <code>rotoY = 5</code> </answer>
        <answer> <code>carY = 0</code>, <code>rotoY = 3</code>  </answer>
        <explanation> The only pair of values that will make the condition <code> dist * dist &lt; 25 </code> false is <code>carY = 12</code>, <code>rotoY = 5</code>. All other pairs result in differences which, when squared, are less than 25. 
        </explanation>
    </question>
</quiz>
