<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>Considera la siguiente figura:
        	<br><img src = "../../eip-diagnostic/tesselations/img/tesselations-10.png"><br>
        	<br>¿Cuál de los siguientes códigos produciría tal resultado?<br>
        </description>
        <answer correct> <img src = "../../eip-diagnostic/tesselations/img/tesselations-06.png"> </answer>
        <answer> <img src = "../../eip-diagnostic/tesselations/img/tesselations-07.png"> </answer>
        <answer> <img src = "../../eip-diagnostic/tesselations/img/tesselations-08.png"> </answer>
        <explanation>La figura consiste de 16 cuadrados. Observe que todos los cuadrados de la primera columna no están rotados. Los de la segunda columna están rotados por 90 grados. Los de la tercera y cuarta 180 y 270 grados, respectivamente. El código que los genera debe al menos realizar 16 iteraciones, donde cada cuatro iteraciones cambie el ángulo de rotación. Por lo tanto, el código correcto es:
        <br> <img src = "../../eip-diagnostic/tesselations/img/tesselations-06.png"> <br>
        </explanation>
    </question>
</quiz>
