<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>Considera el siguiente codigo:
        	<br><img src = "../../eip-diagnostic/tesselations/img/tesselations-09.png"><br>
        	<br>¿Cuál de las siguientes figuras sería el resultado de ejecutar el código?<br>
        </description>
        <answer correct> <img src = "../../eip-diagnostic/tesselations/img/tesselations-01.png"> </answer>
        <answer> <img src = "../../eip-diagnostic/tesselations/img/tesselations-02.png"> </answer>
        <answer> <img src = "../../eip-diagnostic/tesselations/img/tesselations-03.png"> </answer>
        <answer> <img src = "../../eip-diagnostic/tesselations/img/tesselations-04.png"> </answer>
        <explanation>El código tiene una sola estructura de repetición que realiza 4 iteraciones. Por lo tanto, la figura que muestra 16 cuadrados NO es la solución. Nota que el primer argumento de la función invocada en la línea 46 (<code>t.move(i*50,0);</code>) varía de acuerdo al valor de <code>i</code>. El segundo argumento se mantiene en <code>0</code>. Por lo tanto, la figura que se genera tiene cuatro cuadrados cuya posición en <code>y</code> es <code>0</code>. El resultado es la figura que contiene cuatro cuadrados en línea horizontal.
        <br> <img src = "../../eip-diagnostic/tesselations/img/tesselations-01.png"> <br>
        </explanation>
    </question>
</quiz>
