<quiz name="Check your understanding">
    <question multiple>
        <description>What sorting algorithm is illustrated in the following figure?
        	<br><img src="./eip-diagnostic/sort-detective/img/sort-detective-02.png"><br>
        </description>
        <answer>insertion sort</answer>
        <answer correct>bubble sort</answer>
        <answer>selection sort</answer>
        <answer>shell sort</answer>
        <explanation>The figure illustrates the <code>bubble sort</code> algorithm. On each <i>pass</i>, bubble sort goes through the list comparing adjacent elements and swapping them if they are not in order. This moves the largest number to the end of the list.</explanation>
    </question>
</quiz>
