<quiz name="Check you understanding">
    <question multiple>
        <description>What sorting algorithm is illustrated in the following figure?
        	<br><img src="./eip-diagnostic/sort-detective/img/sort-detective-01.png"><br>
        </description>
        <answer>heap sort</answer>
        <answer>selection sort</answer>
        <answer>merge sort</answer>
        <answer correct>quick sort</answer>
        <explanation>The figure illustrates the <code>quick sort</code> algorithm. In the first line, the number <code>8</code> (in red) is the pivot. In the next line the numbers are divided in two groups: the lower numbers (left) and greater numbers (right). In the following rows a pivot is chosen and the rest of the numbers splits into the lowest at the left and at the right the highest. At the end all the numbers are grouped again, this time in order. </explanation>
    </question>
</quiz>
