<quiz name="Check you understanding">
    <question multiple>
        <description>What sorting algorithm is illustrated in the following figure?
        	<br><img src="./eip-diagnostic/sort-detective/img/sort-detective-03.png"><br>
        </description>
        <answer>heap sort</answer>
        <answer>selection sort</answer>
        <answer correct>merge sort</answer>
        <answer>quick sort</answer>
        <explanation>  The figure illustrates the <b>merge sort</b> algorithm. The list is repeatedly divided into sub-lists (using extra memory) until each list consists of a single number. After this, the algoritm joins all the numbers again, this time in order.  </explanation>
    </question>
</quiz>
