<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>¿Cuál es la representación del color negro en RGB (24-bits)?</description>
        <answer correct><code>0xFF000000</code></answer>
        <answer><code>0xFFFFFFFF</code></answer>
        <answer><code>0xFF111111</code></answer>
        <answer><code>0xFFFF00FF</code></answer>
        <explanation>El color negro (puro) es representado en RGB por <code>0xFF000000</code>, indicativo de que todas la tonalidades (rojo, verde y azul) están en su mínima intensidad.  </explanation>
    </question>
</quiz>
