<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>¿De qué color es un píxel cuya representación RGB (24-bits) es <code>0xFF0000FF</code>?</description>
        <answer>rojo</answer>
        <answer correct>azul</answer>
        <answer>verde</answer>
        <answer>negro</answer>
        <explanation>El píxel es de color <b>azul</b> ya que tiene intensidades de <code>0x00</code> para las tonalidades de rojo y verde e intensidad máxima <code>(0xFF)</code> para la tonalidad azul.</explanation>
    </question>
</quiz>
