<quiz name="Check your understanding">
    <question multiple>
        <description>The function <code>qRed()</code> extracts the byte that corresponds to the red component of a pixel. Suppose that <code>p</code> contains a color pixel. Which of the following best describes  the operation performed by the following statement?
            <br>
            st = ( qRed(p) & 1  == 0 ) ? "0" : "1";
            </br>
        </description>
        <br> <br>
        <answer correct>Assigns <code>0</code> to st if the least significant bit of the red component is 0.</answer>
        <answer>Assigns <code>0</code> to st if $$1 == 0$$ .</answer>
        <answer>Assigns <code>0</code> to st if the red component's value is odd.</answer>
        <answer correct>Assigns <code>0</code>  to st if the red component's value is even.</answer>
        <explanation>The operation <code>qRed(p) &amp; 1</code> is a bitwise AND between the red component and the binary number <code>00000001</code>. Therefore, this instruction results in <code>0</code> only if the red component has a <code>0</code> in its least significant bit, which means the red component is an even number. If the result of the bitwise AND is 0, then <code>0</code> is assigned to st.</explanation>
    </question>
</quiz>