<quiz name="Check your understanding">
    <question multiple>
        <description>Suppose that you want to embed a 1 to the least significant bit of the byte that contains the variable <code>a</code>. What would be the most appropriate instruction?
        </description>
        <answer correct>$$a = a | 0x01$$</answer>
        <answer>$$a = a | 0xFE$$ </answer>
        <answer>$$a = a \& 0x11$$ </answer>
        <answer>$$a = a \& 0x01$$</answer>
        <explanation>The operation <code>a = a | 0x01</code>  turns on the least significant bit of the variable <code>a</code> without modifying the other bits.</explanation>
    </question>
</quiz>
