<quiz name="Check your understanding">
    <question multiple>
        <description>Suppose that we want to embed the three bits <code>110</code> in the red, green and blue components of a pixel with color <code>0x345678</code>. Which would be the color value after we embed the three bits?
        </description>
        <answer>$$0x345678$$</answer>
        <answer>$$0x355678$$</answer>
        <answer correct>$$0x355778$$ </answer>
        <answer>$$0x355779$$ </answer>
        <explanation>The color value is <code> 0x355778 </code>, since:  <br>&#8226; The red color will change from <code>0x34</code> to <code>0x35</code> after we turn on the least significant bit <code>(0011 0100 --> 0011 0101)</code> <br>
		<br>&#8226; The green color will change from <code>0x56</code> to <code>0x57</code> after we turn on the least significant bit <code>(0101 0110 --> 0101 0111)</code><br>
		<br>&#8226; The blue color does not change because <code>0x78</code> <code>(0111 1000)</code> already has a <code>0</code> in the least significant bit.<br>
	</explanation>
    </question>
</quiz>
