<quiz name="Check your understanding">
    <question multiple>
        <description>If the variables $$a$$ and $$b$$ contain $$0x56$$ and $$0x78$$, what would be the content of $$r$$, after the assignment $$r = a \& b$$?
        </description>
        <answer>$$0x00$$</answer>
        <answer correct>$$0x50$$</answer>
        <answer>$$0x7E$$ </answer>
        <answer>$$0xCE$$ </answer>
        <explanation>The value would be 0x50.
        <br><img src="./eip-diagnostic/steganography/img/steganography-01.png" /><br> </explanation>
        </explanation>
    </question>
</quiz>
