<quiz name="Check your understanding">
    <question multiple>
        <description>With what number should we do an $$AND$$ if we want to turn <b>off</b> the bit #3 of another number of 8 bits (and leave the bits left intact)?
        </description>
        <answer>$$00000111$$</answer>
        <answer>$$00001000$$ </answer>
        <answer>$$11111111$$ </answer>
        <answer correct>$$11110111$$</answer>
        <explanation>When we do a bitwise AND with the number <b>11110111</b> we turn off the bit #3 and maintain the bits left intact. </explanation>
    </question>
</quiz>
