<quiz name="Check your understanding">
    <question multiple>
        <description>With what number should we do an $$OR$$ if we want to turn off the bit #3 of another number of 8 bits (and leave the bits left intact)?
        </description>
        <answer>$$00000111$$</answer>
        <answer correct>$$00001000$$</answer>
        <answer>$$11111111$$ </answer>
        <answer>$$11110111$$ </answer>
        <explanation>When we do a bitwise OR with the number  <b>00001000</b> we turn on the bit #3 and maintain the bits left intactß. </explanation>
    </question>
</quiz>
