<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>¿Qué resulta al ejecutar el siguiente código?
        <br> <img src="../../eip-diagnostic/vigenere/img/vigenere-05.png">
        </description>
        <answer> Despliega <code>pizzapizza</code> </answer>
        <answer> Nada, no corre porque hay un error. </answer>
        <answer correct> Despliega <code>pizzaAZZIP</code> </answer>
        <answer> Despliega <code>pizzaPIZZA</code> </answer>
        <explanation>La respuesta correcta es la tercera (<code>pizzaAZZIP</code>). En el código, la variable <code>length</code> representa el largo del string <code>stUp</code>, que es 5. El for loop recorre el string al revés. La <code>i</code> comienza con el valor de <code>length - 1</code> ya que queremos comenzar en la última posición del string. Recuerda que las posiciones de un string, al igual que las de un arreglo, comienzan en 0 y van hasta length - 1. La <code>i</code> va decreciendo en cada iteración, comenzando en 4, luego 3, luego 2, etc. La instrucción <code>stUp.push_back(toupper(stUp[i]));</code> logra añadir al final del string <code>stUp</code> los caracteres del string en mayúscula, pero al revés. Por esto, con cada iteración se añade una letra adicional y se termina con <code>pizzaAZZIP</code>.
		</explanation>
    </question>
</quiz>
