<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description> ¿Cuál es la frase cifrada en Vigenere de la palabra <code>SEASALTFELT</code> usando la clave <code>XANFNVJRWYJ</code>? </description>
        <answer correct><code>PENXNGCWAJC</code></answer>
        <answer><code>QZNANLVOWLC</code></answer>
        <answer><code>JMJAELQITLA</code></answer>
        <answer><code>AQDHDKSUDSX</code></answer>
        <explanation>La primera opción es la correcta. Si la <code>A</code> representa un desplazamiento de <code>0</code> espacios, podemos obtener el desplazamiento de todos los demás. La <code>X</code> representa un desplazamiento de <code>23</code> espacios y por lo tanto <code>(S + 23) % 26</code> es <code>P</code> (recuerda que el rango es de <code>0-25</code> ya que es módulo <code>26</code>), la <code>A</code> representa <code>0</code> espacios y por lo tanto <code>(E + 0) % 26</code> es <code>E</code>, la <code>N</code> desplaza la <code>A</code> <code>13</code> espacios, etc. Cuando se realizan las calculaciones, se encuentra que el mensaje cifrado es <code>PENXNGCWAJC</code>. </explanation>
    </question>
</quiz>
