<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>Supón que tenemos dos objetos de clase string, <code>stOne</code> y <code>stTwo</code>  con todos sus caracteres en minúscula. ¿Cuál de los siguientes códigos verifica que ambos strings tienen el mismo largo, y luego los cambia a mayúscula?
        </description>
        <answer><img src="../../eip-diagnostic/vigenere/img/vigenere-01.png"></answer>
        <answer correct><img src="../../eip-diagnostic/vigenere/img/vigenere-02.png"></answer>
        <answer><img src="../../eip-diagnostic/vigenere/img/vigenere-03.png"></answer>
        <answer><img src="../../eip-diagnostic/vigenere/img/vigenere-04.png"></answer>
        <explanation>La primera opción es incorrecta pues compara el **contenido** de los strings en vez de sus largos.
        <br>&nbsp;
        <br>La segunda opción es la correcta, ya que compara el largo de <code>stOne</code> y <code>stTwo</code>, y entra al for loop. Nota que la condición de repetición del for loop es <code>i < stOne.length()</code>, genera los enteros desde 0 hasta el largo de los strings menos uno. Ya que nos aseguramos que <code>stOne</code> y <code>stTwo</code> tienen el mismo largo, no importa cual de los dos largos se utiliza en la condición. Al recorrer el string, accesamos cada caracter individual usando <code>[i]</code>, y lo guardamos nuevamente en la misma posición del string utilizando <code>[i]</code> nuevamente, alterando el string original.
        <br>&nbsp;
        <br>La tercera opción es incorrecta pues compara el **contenido** de los strings en vez de sus largos Además, el código dentro del if no funciona ya que se utiliza <code>toupper()</code> incorrectamente. La función <code>toupper</code> debe recibir como argumento un caracter, no un string.
        <br>&nbsp;
        <br>La cuarta opción es incorrecta ya que no realiza el cambio a mayúscula correctamente dentro del for loop. Nota que <code>toupper()</code> es invocado con cada caracter, lo cual está correcto, pero no se guarda el cambio asignándoselo a la posición correspondiente de cada string. Si imprimimos <code>stOne</code> y <code>stTwo</code> luego, estarán iguales.
		</explanation>
    </question>
</quiz>
