<quiz name="Check your understanding">
    <question multiple>
        <description>¿Cuál de las siguientes funciones imprime los números desde el 0 hasta casi 1 en n pasos equidistantes? Por ejemplo, si n =100, imprime 0, 0.01, 0.02, .., 0.98, 0.99.
        </description>
        <answer> <img src = "../../eip-diagnostic/sound-processing/img/sound-processing-16.png"> </answer>
        <answer correct> <img src = "../../eip-diagnostic/sound-processing/img/sound-processing-15.png"> </answer>
        <answer> <img src = "../../eip-diagnostic/sound-processing/img/sound-processing-17.png"> </answer>
        <explanation> La función correcta es <code>ji</code>. El ciclo <code> for </code> de esta función genera enteros desde i = 0 hasta n-1.  Por lo tanto, la primera iteración imprime  0, seguida por el resultado de 1.0/n, seguido de 2.0/n, .. , y la última iteración imprime el resultado de (n-1)/n.   
        </explanation>
    </question>
</quiz>