<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>Suponga que tiene un arreglo que guarda elementos de tipo <code>int</code> llamado <code>A</code>. El contenido de <code>A</code> es: <code>10, 36, 400, 82, 350</code>. ¿Cuál será el contenido del arreglo luego de ejecutar el siguiente código?
        <br><img src = "../../eip-diagnostic/sound-processing/img/sound-processing-06.png"><br>
        </description>
        <answer> <code>5, 18, 200, 41, 175</code> </answer>
        <answer> <code>20, 72, 800, 164, 700</code> </answer>
        <answer> <code>0, 0.5, 1, 1.5, 2</code> </answer>
        <answer correct> <code>10, 18, 800, 41, 700</code> </answer>
        <answer> <code>1, 2, 3, 4, 5</code> </answer>
        <explanation>La siguiente figura ilustra la ejecución a mano del programa.<br><img src="../../eip-diagnostic/sound-processing/img/sound-processing-14.png"> La respuesta correcta es la cuarta: 10, 18, 800, 41, 700.
        </explanation>
    </question>
</quiz>
