<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>Suponga que existe un arreglo de objetos de clase <code>AudioBuffer</code> llamado <code>playlist</code>. Queremos multiplicar el contenido del canal izquierdo de cada objeto por 5, y dividir el contenido del canal derecho de cada objeto entre 10. ¿Cuál de las siguientes instrucciones lograría esta tarea? Suponga que las instrucciones se llevan a cabo dentro de un for loop que itera a través del arreglo entero utilizando una variable llamada <code>i</code>.
        </description>
        <answer> <img src = "../../eip-diagnostic/sound-processing/img/sound-processing-07.png"> </answer>
        <answer> <img src = "../../eip-diagnostic/sound-processing/img/sound-processing-08.png"> </answer>
        <answer> <img src = "../../eip-diagnostic/sound-processing/img/sound-processing-09.png"> </answer>
        <answer correct> <img src = "../../eip-diagnostic/sound-processing/img/sound-processing-10.png"> </answer>
        <answer> <img src = "../../eip-diagnostic/sound-processing/img/sound-processing-11.png"> </answer>
        <explanation>Como puede ver en la documentación de la clase <code>AudioBuffer</code>, los atributos <code>left</code> y <code>right</code> de cada objeto son públicos, por la cual se pueden acceder utilizando la instrucción <code>.right</code> o <code>.left</code> luego del nombre del objeto. Si tenemos un arreglo de objetos <code>AudioBuffer</code> y queremos acceder un elemento en particular, y luego su atributo <code>left</code> o <code>right</code>, utilizariamos la instrucción <code>nombreObjeto[indice].right</code>, e igualmente podemos utilizar la misma instrucción para alterar los contenidos del objeto. Por lo tanto, la contestación correcta es la cuarta. La quinta opción no es válida pues la clase <code>AudioBuffer</code> no tiene setters y getters que se llamen <code>setLeft</code>, <code>setRight</code>, y <code>getLeft</code>, <code>getRight</code>.
        </explanation>
    </question>
</quiz>
