<quiz name="Check your understanding">
    <question multiple>
        <description>What would be the result of the following code with <code>recurse(1980)</code>?
            <br><img src="../../eip-diagnostic/recursive-shapes/img/recursive-shapes-02.png"><br></description>
        <answer>$$5000000$$</answer>
        <answer>$$1291980$$</answer>
        <answer correct>$$0$$</answer>
        <answer>$$2030$$</answer>
        <explanation> The base case is <code>if (n >= 450000) return 0;</code>. The recursive case increases n by 300, then returns the product of n by <code>recurse(n+50)</code>. Calling the function with n=1980 will cause the function to continue calling itself with bigger values of n until n is greater or equal than 450000. The result is the product of the n's with the base case. Since the base case returns 0, the final result is 0.</explanation>
    </question>
</quiz>
