<quiz name="Check your understanding">
    <question multiple>
        <description>What would be the result of the following code with <code>recurse(50)</code>?
            <br><img src="../../eip-diagnostic/recursive-shapes/img/recursive-shapes-01.png"><br></description>
        <answer>$$300$$</answer>
        <answer correct>$$150$$</answer>
        <answer>$$125000$$</answer>
        <answer>$$50$$</answer>
        <explanation>A well-defined recursive function must have at least a base case that will allow to stop the recursion if a particular condition is true; without one, it could result in an infinite recursion. In this case the base case is <code>if (n >= 100) return n;</code>. If we called the function with <code>recurse(50)</code>, the base case is false, <code>(50 >= 100)</code>, therefore we continue onto the next step <code>return 50 + recurse(50 + 50)</code>. Calling <code>recurse(100)</code> the base case, <code>(100 >= 100)</code>, is true. Finally, we will have <code>return 50 + 100</code>, or 150. </explanation>
    </question>
</quiz>
