<quiz name="Check your understanding">
  <question multiple>
    <description>
    How many sticks can a player pick on each turn:
    </description>
        <answer > 0, 1, or 2 </answer>
        <answer> strictly 1 </answer>
        <answer> 1 or 2 </answer>
        <answer correct> 1, 2, or 3 </answer>
        <answer> 1 to 5 </answer>
        <explanation>
        In the game of sticks, a player may pick 1, 2 or 3 sticks per turn.
        </explanation>
  </question>
</quiz>
