<quiz name="Check your understanding">
  <question multiple>
    <description>
    What is the output of the following algorithm:
<pre>n = 10
i = 0
while n > 0:
   print i, 
   i = (i + 1) % 2
   n = n - 3
</pre>
    </description>
        <answer correct> 0 1 0 1 </answer>
        <answer> 10 9 8 7 6 5 4 3 2 1 </answer>
        <answer> 10 7 4 1 -2 </answer>
        <answer> 0 1 2 3 </answer>
        <answer> 4 3 2 1 </answer>
        <explanation>Here is a handtrace of the algorithm.
<pre>Cicle           Printed    Value of i      Value of n
-----------------------------------------------------
Before                     i = 0           n = 10
1               0          i = 1           n = 7
2               1          i = 0           n = 4
3               0          i = 1           n = 1
4               1          i = 0           n = -2
</pre>
        </explanation>
  </question>
</quiz>
