<quiz name="Check your understanding">
  <question multiple>
    <description>
    The goal in the game of sticks is:
    </description>
        <answer correct> to avoid being the person to take the last stick </answer>
        <answer> to gather as many sticks as possible </answer>
        <answer> to leave your opponent without sticks </answer>
        <answer> to choose the longest stick </answer>
        <explanation>
          The goal is to make your opponent pick up the last stick.
        </explanation>
  </question>
</quiz>