<quiz name="Check your understanding">
    <question multiple>
        <description>Assume that we define an array of <code>string</code> objects as follows: <code>string S[5]</code> and we assign the string <code>"chicken"</code> to each object. Which of the following would change the object at index 3 to <code>"chickan"</code>?
        </description>
    <answer> <code>S[4] = "a";</code> </answer>
	<answer correct> <code>S[3][4] = 'a';</code> </answer>
	<answer> <code>S.at(3) = "a";</code> </answer>
	<answer> <code>S.replace(3,4, 'a');</code> </answer>
    <explanation> The correct option is <code>S[3][5] = 'a'</code>. This instruction performs the following task: *change the letter at index 5 of object with index 3 to `'a'`.
    <br>The option <code>S[3] = "a"</code> changes the whole content of object with index 3 to <code>"a"</code> 
    <br>The intention of <code>S.at(3) = "a"</code> is changing the content of the object with index 3 to <code>"a"</code>. However, the instruction is not valid because the result of the <code>at()</code> method is a string constant, whose value cannot be changed.
    <br>The option <code>S.replace(3,4,'a');</code> is not valid because the <code>replace()</code> method works on strings, not on arrays.
	</explanation>
    </question>
</quiz>
