<quiz name="Check your understanding">
    <question multiple>
    <description>Assume that we define an array of <code>string</code> objects as follows: <code>string S[10]</code> and that we assign strings to each of the objects. Which of the following prints the length of element 7 of array <code>S</code>?
    </description>
    <answer correct> <code>cout << S[7].length();</code> </answer>
	<answer> <code>cout << S.length()[7];</code> </answer>
	<answer> <code>cout << S.length(7);</code> </answer>
    <answer correct> <code>cout << S.at(7).length();</code> </answer>
    <explanation>The following options print the length of element 7: <code>cout << S[7].length();</code>, <code>cout << S.at(7).length();</code>.  In both, the <code>length()</code> method is preceded by an expression can be evaluated to element 7 of array S. Both <code>S.at(7)</code> and <code>S[7]</code> are expressions that refer to element 7.
    <br>The option <code>cout << S.length()[7];</code> is invalid because it is invoking the method <code>length()</code> on an array of strings. The <code>length()</code> method can be invoked on any <code>string</code> object but not an array of objects.
    <br>The option <code>cout << S.length(7)</code> is invalid because it is trying to invoke the <code>length()</code> method on an array of strings. Furthermore, the <code>length()</code> method does not require arguments.
	</explanation>
    </question>
</quiz>
