<quiz name="Check your understanding">
    <question multiple>
    <description>Suppose that we create an array of <code>QPoint</code> objects as follows: <code>QPoint P[7];</code> and that we assign the <code>x</code> and <code>y</code> values to the objects. Which of the following can be use to compute the sum of the y coordinates of all points?
    </description>
    <answer> <img src = "../../eip-diagnostic/PRMap/img/PRMap-01.png"> </answer>
	<answer correct> <img src = "../../eip-diagnostic/PRMap/img/PRMap-02.png"> </answer>
	<answer> <img src = "../../eip-diagnostic/PRMap/img/PRMap-03.png"> </answer>
    <explanation>The beta option is the correct answer because the instruction inside the loop correctly accesses the y coordinate for each of the points.
    <br>The alpha option includes a <code>P.y()</code> in the expression inside the loop. <code>P.y()</code> is not a valid instruction because <code>P</code> is an array, not a <code>QPoint</code> object, thus getter <code>y()</code> cannot be invoked on <code>P</code>.
    <br>The gamma option contains <code>a[i]</code> in the expression that is inside the loop. <code>a[i]</code> is not valid because <code>a</code> is not array, it is an <code>int</code>.
	</explanation>
    </question>
</quiz>
