<quiz name="Check your understanding">
    <question multiple>
        <description>We want to declare a vector that stores <code>Packet</code> objects, and then invoke the method <code>getSrcPort()</code> on the vector's fourth element (assume that the vector is already full of information when declared). Which of the following instructions will work?
        </description>
        <answer><img src="../../eip-diagnostic/network-filter/img/network-filter-01.png"></answer>
        <answer><img src="../../eip-diagnostic/network-filter/img/network-filter-02.png"></answer>
        <answer correct><img src="../../eip-diagnostic/network-filter/img/network-filter-03.png"></answer>
        <answer><img src="../../eip-diagnostic/network-filter/img/network-filter-04.png"></answer>
        <explanation>The correct answer is the third option. The first option declares the vector of <code>Packet</code> objects correctly, but invokes the method <code>getSrcPort()</code> incorrectly. We want to find information in the fourth element. The <code>getSrcPort()</code> method can be invoked on <code>Packet</code> objects. The <code>netFlow</code> object is a vector, not a <code>Packet</code>.
        <br>The second option does not declare the vector correctly. Additionally, the instruction <code>netFlow[i.getSrcPort()];</code> is not invoking the method <code>getSrcPort()</code> on one of the <code>netFlow</code> objects, but instead an <code>i</code> variable (that has not been defined). The fourth option declares the vector correctly, but once again uses <code>netFlow[i.getSrcPort()]</code>.</explanation>
    </question>
</quiz>
