<quiz name="Check your understanding">
    <question multiple>
        <description>We want to traverse a vector of <code>Packet</code> objects, filtering the elements that have the same Destination Address and Source Address and disabling the rest. Which of the following is correct?</description>
        <answer correct><img src="../../eip-diagnostic/network-filter/img/network-filter-05.png"></answer>
        <answer><img src="../../eip-diagnostic/network-filter/img/network-filter-06.png"></answer>
        <answer><img src="../../eip-diagnostic/network-filter/img/network-filter-07.png"></answer>
        <answer><img src="../../eip-diagnostic/network-filter/img/network-filter-08.png"></answer>
        <explanation>The first option is the correct one. The second option is incorrect because it eliminates the vector elements that have the same Destination Address and Source Address, which is what we want to keep. The third option uses the function <code>netdata.length()</code>, which corresponds to a <code>string</code>, but vectors use the function <code>size()</code>. The fourth options tries to assign a <code>0</code> to the corresponding position in the vector <code>netdata</code>, which is incorrect.</explanation>
    </question>
</quiz>
