<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>¿Cúal de los siguientes códigos crearía una línea horizontal por en el centro de la imágen <code>A</code>?
        </description>
        <answer correct><code>for (int i = 0; i < A.width(); i++)  A.setPixel(i, A.height()/2, 0);</code> </answer>
        <answer><code>for (int i = 0; i < A.height(); i++)  A.setPixel(A.width()/2, i, 0);</code></answer>
        <answer><code>for (int i = 0; i < A.width(); i++)  A.setPixel(i/2, i/2, 0);</code></answer>
        <answer>Ninguno de los anteriores pues hace falta un loop anidado.</answer>
        <explanation>La primera opción crea una línea horizontal en el centro de la imagen. La segunda opción crea una línea vertical por el centro de la imagen. La tercera opción es peligrosa pues usa la variable <code>i</code> en ambos argumentos y podría resultar en rebasar los valores válidos del alto de la imagen. La cuarta opción es falsa, no necesitamos un loop anidado para trazar una simple línea.</explanation>
    </question>
</quiz>
