<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>A continuación mostramos el objeto <code>A</code> clase <code>QImage</code> que tiene ancho y alto de 5 pixeles, i.e. el pixel <code>(0,0)</code> es rojo, el <code>(4,0)</code> es negro, el <code>(2,2)</code> es verde.
        	<br><img src="../../eip-diagnostic/green-screen/img/green-screen-01.png"><br>
        	<br>¿Cuál de los siguientes sería el output de la siguiente instrucción: <code>cout << A.getPixel(2,3)</code>?<br>
        </description>
        <answer correct> <code>0x00ff00</code> </answer>
        <answer> <code>0xff0000</code> </answer>
        <answer> <code>0xffffff</code> </answer>
        <answer> <code>0x000000</code> </answer>
        <explanation>El píxel que se encuentra en la posición <code>(2,3)</code> es color verde por lo tanto su valor será semejante a <code>0x00ff00</code>.</explanation>
    </question>
</quiz>
