<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>Dado dos objetos <code>A</code> y <code>Z</code> de clase <code>QImage</code>. Escoge la mejor descripción del siguiente código:
        	<br> 
            <br><code>greenComp = qGreen( A.getPixel(0,0) );</code> <br>
            <br><code>result = greenComp > 230 ? 0xff0000: 0x0000ff;</code><br>
            <br><code>Z.setPixel( 0, 0, result);</code><br>
			</br>
        </description>
        <answer correct>Cambia el color del pixel en la imagen <code>Z</code> a puro rojo si el componente verde del pixel de la imagen <code>A</code> es mayor 230</answer>
        <answer>Cambia el color del pixel en la imagen <code>Z</code> a puro azul si el componente verde del pixel de la imagen <code>A</code> es mayor 230.</answer>
        <answer>Cambia el color del pixel en la imagen <code>Z</code> a puro verde si el componente verde del pixel de la imagen <code>A</code> es mayor 230.</answer>
        <explanation>La instrucción <code>greenComp = qGreen( A.getPixel(0,0) );</code> extrae el valor del componente verde de un pixel de la imagen <code>A</code>.  Si el valor de <code>greenComp</code> es mayor que 230, el valor asignado a <code>result</code> corresponde a color puramente rojo. </explanation>
    </question>
</quiz>
