<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>¿Cual de los siguientes cambia un pixel puramente rojo a uno puramente azul?
        </description>
        <answer><code>if ( qRed( A.getPixel(0,0) ) == 0xff ) A.setPixel(0, 0, 0x0000ff); </code> </answer>
        <answer correct><code>if ( A.getPixel(0,0) == 0xff0000 ) A.setPixel(0, 0, 0x0000ff);</code></answer>
        <answer><code>if ( A.getPixel(0,0) == qRed(0xff0000) ) A.setPixel(0x0000ff); </code></answer>
        <explanation>La primera opción no realiza una comparación adecuada pues compara el componente rojo del pixel <code>0xff</code>, sin tomar en cuenta los valores de los otros componentes. La segunda opción es la correcta pues compara el valor del pixel con el valor del color rojo puro <code>(0xff0000)</code>. La tercera opción tampoco realiza una comparación adecuada pues intenta comparar el valor del pixel contra el valor del componente rojo.</explanation>
    </question>
</quiz>
