<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>A continuación mostramos el objeto <code>A</code> de clase <code>QImage</code> que tiene ancho y alto de 5 pixeles, i.e. el pixel <code>(0,0)</code> es rojo, el <code>(4,0)</code> es negro, el <code>(2,2)</code> es verde.
        	<br><img src="../../eip-diagnostic/green-screen/img/green-screen-01.png"><br>
        	<br>¿Cuál de lo siguientes sería el output de la siguiente instrucción: <code>cout << qRed( A.pixel(1,0) )</code>?<br>
        </description>
        <answer> <code>0xff</code> </answer>
        <answer> <code>0x77</code> </answer>
        <answer correct> <code>0x00</code> </answer>
        <explanation>El pixel que se encuentra en la posición <code>(1,0)</code> es color negro (valor <code>0x000000</code>) por lo tanto su componente rojo es <code>0x00</code>.</explanation>
    </question>
</quiz>
