<quiz name="Check your understanding">
    <question multiple>
        <description>In one of this laboratory's exercises you will create a program to compute a student's grade point average (GPA). What is the GPA of a student with ten A's and one C (assuming that an A is worth 4 points and a C is worth 2)? 
        </description>
        <answer >3.16</answer>
        <answer correct>3.82</answer>
        <answer>3.91</answer>
        <answer>4.00</answer>
        <explanation>The GPA is computed using $$\frac{\left( Number\, of\, A's \times Value\,of\,A \right) + \left( Number\, of\, B's \times Value\,of\,B \right) + \ldots}{Total\,Number\,of\,Grades}$$ Therefore, the GPA is: $$\frac{ (10 \times 4.0) + (1 \times 2.0) }{11} = 3.82$$. 
</explanation>
    </question>
</quiz>
