<quiz name= "Check your understanding">
    <question multiple>
        <description>What is the approximate value of $$x$$ and $$y$$ when $$t = \frac{3\pi}{4}$$?
        </description>
        <answer correct>$$x = -0.707$$, $$y = +0.707$$
</answer>
        <answer>$$x = -0.707$$, $$y = -0.707$$</answer>
        <answer>$$x = +0.707$$, $$y = -0.707$$ </answer>
        <explanation>$$x = cos\left(\frac{3\pi}{4}\right) = -0.707$$<br>$$y = sin\left(\frac{3\pi}{4}\right) = +0.707$$</explanation>
    </question>
</quiz>
