<quiz name="Check your understanding">
    <question multiple>
        <description>When plotting parametric equations with a program, the most common way to generate values for parameter $$t$$ is using a <b>for loop</b>. What are the first four values assigned to $$t$$ in the following for loop?
        <br> <img src="../../eip-diagnostic/pretty-plots/img/pretty-plots-01.png">
        </description>
        <answer correct>0, 0.05, 0.10, and 0.15.</answer>
        <answer>0, .628, 1.56, and 6.28</answer>
        <answer>0, 1, 2, and 3.</answer>
        <explanation>The repetition structure 
<code>for (double t = 0.0; t < 6.28; t = t + 0.05)</code>
is repeated as long as the value of $$t$$ is less than $$6.28$$. After each iteration the value of $$t$$ is incremented by $$0.05$$. Thus, the first four values will be <b>0, 0.05, 0.10 and 0.15</b>.
</explanation>
    </question>
</quiz>
