<quiz name= "Check your understanding">
    <question multiple>
        <description>What is the result of the following expression in C++: <code>static_cast&lt;double> ( ( 10 &lowast; 4 + 1 &lowast; 2 ) / 11)</code> ?
        </description>
        <answer correct>3.0</answer>
        <answer >3.83</answer>
        <answer>3.91</answer>
        <answer>4.0</answer>
        <explanation> The result is <code>3.0</code> because the <code>static_cast&lt;double></code> affects the result of an expression that only consists of integers.  Thus, the expression is equivalent to <code>static_cast&lt;double>(42 / 11)</code>.
		</explanation>
    </question>
</quiz>
