<quiz name="Check your understanding">
    <question multiple>
        <description>What the first four values of $$x$$ and $$y$$ in the following for loop?
<br> <img src="../../eip-diagnostic/pretty-plots/img/pretty-plots-02.png">
        </description>
        <answer>$$x = 0, 1, 2, 3$$ &nbsp;&nbsp;&nbsp;&nbsp; $$y = 0.1, 0.2, 0.3,  0.4$$</answer>
        <answer correct>$$x =0.0, 0.5, 1,  1.5$$ &nbsp;&nbsp;&nbsp;&nbsp; $$y = 1.0, 1.05, 1.1,  1.15$$ </answer>
        <answer>$$x = 0, 5, 10,  15$$ &nbsp;&nbsp;&nbsp;&nbsp; $$y = 0.0, 0.5, 1,  1.5$$</answer>
        <explanation> The repetition structure 
<code>for (double t = 0.0; t < 6.28; t = t + 0.05)</code>
is repeated as long as the value of $$t$$ is less than $$6.28$$. After each iteration the value of $$t$$ is incremented by $$0.05$$. Thus, the first four values of t be <b>0, 0.05, 0.10 and 0.15</b>. The values of $$x$$ will be $$0.0, 0.5, 1, 1.5\,$$. The values of $$y$$ will be $$1.0, 1.05, 1.1, 1.15\,$$. 
</explanation>
    </question>
</quiz>
