<quiz name="Check your understanding">
    <question multiple>
        <description>What is the result of the following expression in C++: <code>( 11 &lowast; 4 + 1 &lowast; 2 ) / 12</code>. Notice that the expression consists of only integers. 
        </description>
        <answer correct>3</answer>
        <answer >3.83</answer>
        <answer>3.91</answer>
        <answer>4</answer>
        <explanation>The result is <code>3</code> because <code>46 / 12</code> is computed as an integer division, which results in an integer quotient.
		</explanation>
    </question>
</quiz>
