<quiz name="Check your understanding">
    <question multiple>
        <description>Plot some of the points $$(x,y)$$ with parametric equations: $$x = 2t$$ y $$y = t$$. For example, for $$t = 0,1,2,3$$ What type of curve do you obtain?
        </description>
        <answer correct>A line that crosses the origin.</answer>
        <answer>A circle of radius $$2$$.</answer>
        <answer>A parabola that intersects the $$x$$ axis at $$-2$$ and $$+2$$.</answer>
        <explanation>The curve that is obtained when plotting the parametric equations $$x = 2t$$ y $$y = t$$ is a line with slope of $$0.5$$ ($$y = 0.5x$$).</explanation>
    </question>
</quiz>
