<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>¿Cuál de las siguientes imprime los valores de todas las fichas del juego de dominó (cada ficha una vez)? </description>
        <answer correct><img src="../../eip-diagnostic/dominos/img/dominos-02.png"></answer>
        <answer><img src="../../eip-diagnostic/dominos/img/dominos-03.png"></answer>
        <answer><img src="../../eip-diagnostic/dominos/img/dominos-04.png"></answer>
        <explanation>La primera opción es la correcta. Para cada valor de i desde 0 hasta 6, genera valores de j desde i hasta 6. Esto hace que genere los valores <code>0/0</code>, <code>0/1</code>, ... , <code>0/6</code>, <code>1/1</code>, <code>1/2</code>, ... , <code>1/6</code>  y así hasta <code>6/6</code>.  
		<br>La segunda opción genera del 0 al 6 para cada valor de i, por lo que genera fichas duplicadas como <code>0/4</code> y <code>4/0</code>.<br>
		<br>La tercera opción nunca genera <code>0/0</code>, pues cuando <code>i=0</code> y <code>j=0</code> esto no cumple la condición <code>j &lt; i</code> y no entra a ejecutar la instrucción que imprime esos valores. <br> </explanation>
    </question>
</quiz>
