<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>Suponga que <code>A</code> es un arreglo de los números del 1-50 con <code>A[0]=1, A[1]=2, A[2]=3,..., A[49]=50</code>; que desplegará el siguiente código?
            <br><img src="../../eip-diagnostic/dominos/img/dominos-01.png"><br></description>
        <answer><code>2 4 6 8 9 10 12 14 15 16 18 20 21 22 24 25</code></answer>
        <answer><code>2 3 4 6 8 9 12 14 15 16 18</code></answer>
        <answer><code>1 3 5 7 9 12 15 17</code></answer>
        <answer correct><code>2 3 6 7 10 11 14 15 18 19 22 23</code></answer>
        <explanation>El for loop realiza 25 iteraciones, i.e. una para cada valor de i desde 0 hasta 24. La condición del if se hace cierta solo cuando el contenido de <code>A[i]</code> sea un entero tal que al dividirlo entre 4 su residuo sea 3 o 2. Dentro del rango [0,24] los enteros que cumplen esa condición son los que lista la opción d.  </explanation>
    </question>
</quiz>
