<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>Paree la gráfica con la ecuacion cuadrática correspondiente: (la gráfica fue obtenida usando el applet de http://rechneronline.de/function-graphs/ )
        <br> <img src = "../../eip-diagnostic/quadratic-frog/img/quadratic-frog-04.png">
        </description>
        <answer> $$y = x^2 - 3$$ </answer>
	    <answer correct> $$y = x^2 - 9$$ </answer>
	    <answer> $$y = -x^2 + 9$$ </answer>
	    <answer> $$y = x^2 + 3$$ </answer>
        <explanation> $$y = x^2 - 9$$
		<br> El valor negativo de $$a$$ nos indica que esta parábola apunta hacia abajo. Los interceptos en $$y$$ se obtienen resolviendo la fórmula cuadrática. Son -3 y 3.
		</explanation>
    </question>
</quiz>
