<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>Parea la gráfica con la ecuacion cuadrática correspondiente: (la gráfica fue obtenida usando el applet de http://rechneronline.de/function-graphs/ )
        <br> <img src = "../../eip-diagnostic/quadratic-frog/img/quadratic-frog-01.png">
        </description>
        <answer> $$y = x - 3x + 4$$ </answer>
	    <answer> $$y = x^2 - 3x - 1 $$ </answer>
	    <answer> $$y = x^2 - 2x + 4$$ </answer>
	    <answer correct> $$y = x^2 - 6x + 8$$ </answer>
        <explanation> $$y = x^2 - 6x + 8$$ <br>
		<br> La gráfica muestra que los interceptos en el eje de x son $$x_1=2$$ y $$x_2=4$$. Esto dice que la ecuación debe ser $$y=a(x-2)(x-4)=a(x^2-6x+8)$$, donde $$a$$ será el coeficiente de $$x^2$$ y debe ser positiva porque la parabola abre hacia arriba. La única opción que satisfice esto es $$y=x^2-6x+8$$. 
		</explanation>
    </question>
</quiz>
