<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description> Completa el siguiente programa para que imprima el resultado de la expresión $$ \frac {\sqrt{(x+y)^3}}{ y - x }$$.
	    <br> <img src = "../../eip-diagnostic/quadratic-frog/img/quadratic-frog-05.png">
        </description>
	    <answer> Añadir <code>#include <cmath> </code>. Añadir la instrucción <code>sqrt( pow(x+y,3.0) ) / (y - x );</code>. </answer>
        <answer correct> Añadir <code>#include <cmath> </code>. Añadir la instrucción <code>cout << sqrt( pow(x+y,3.0) ) / (y - x ) << endl;</code>. </answer>
	    <answer> Añadir la instrucción <code>cout <<sqrt( pow(x+y,3.5) ) / (y - x ) << endl; </code>. </answer>
	    <answer> Añadir <code>#include math </code>. Añadir la instrucción <code>cout << sqrt((x+y)^3 ) / (y - x ) << endl;</code>. </answer>
        <explanation> 
        Ya que queremos utilizar las funciones de raiz cuadrada y elevar al cubo, debemos añadir la librería <code>cmath</code> utilizando <code>#include <cmath></code>. Luego, se añade la instrucción <code>cout << sqrt( pow(x+y,3.0) ) / (y - x ) << endl;</code>.
        </explanation>
    </question>
</quiz>
