<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description> Queremos crear una función en C++ que reciba los coeficientes de $$a$$, $$b$$, $$c$$ y devuelva los dos resultados de la fórmula cuadrática. El usuario se ha asegurado que los coeficientes de $$a$$,$$b$$, $$c$$ corresponden a soluciones no complejas. Cuál de los siguientes sería el encabezado más apropiado para la función:
        </description>
		<answer correct><code> void cuadratica(double a, double b, double c, double &sol1, double &sol2)</code> </answer>  
		<answer> <code>void cuadratica(double &a, double &b, double &c, double &sol1, double &sol2)</code> </answer>
		<answer> <code>double cuadratica(double a, double b, double c)</code> </answer>
		<answer> <code>void cuadratica(double a, double b, double c)</code> </answer>
        <explanation> El encabezado más apropiado sería<code> void cuadratica(double a, double b, double c, double &sol1, double &sol2)</code> pues describe una función que es capaz de recibir tres argumentos por valor y devolver dos resultados usando pase por referencia. 
		<br>
		<br>El segundo encabezado también puede recibir tres argumentos y devolver dos, pero se expone a que el cuerpo de la función modifique los argumentos $$a$$, $$b$$ y $$c$$. Los otros dos encabezados solo pueden devolver 1 o 0 resultados. 
        </explanation>
    </question>
</quiz>
