<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description> 
        Un sapo se encuentra en la coordenada $$(0,0)$$ y quiere brincar a una hoja que se encuentra en la coordenada $$(6,0)$$. ¿Cuál de las siguientes parábolas debe seguir?
        </description>
		<answer> $$-x^2 + 6$$ </answer>
		<answer> $$x^2 + 6$$ </answer>
		<answer> $$x^2 - 6x$$ </answer>
		<answer correct> $$-x^2 + 6x$$ </answer>
		<answer> $$-x^2 + 6x - 9$$ </answer>
        <explanation> Para determinar una de las parábolas que pasa por $$(0,0)$$ y $$(6,0)$$, construimos una ecuación cuadrática cuyos interceptos en $$y$$ sean 0 y 6:
		<br>
		<br>$$y = (x) (x-6) = x^2 - 6x$$ <br>
		<br>Esa ecuación corresponde a una parábola que pasa $$(0,0)$$ y $$(6,0)$$ pero apunta hacia arriba.
		<br>Para obtener una parábola con los mismos interceptos en $$y$$ pero que apunte hacia abajo, simplemente negamos el lado derecho de la expresión, e.g. <br>
		<br>$$y = -(x^2 - 6x) = -x^2 + 6x$$ 
        </explanation>
    </question>
</quiz>
