<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>¿Cuál será el valor de la variable c luego de las siguientes instrucciones?
        <br> <img src = "../../eip-diagnostic/quadratic-frog/img/quadratic-frog-06.png">
        </description>
        <answer> 0</answer>
	    <answer correct> 1.0 </answer>
	    <answer> 1.5 </answer>
	    <answer> 3.0 </answer>
        <explanation> 
		El valor final de la variable c es 1.0. La división de 3 / 2 es una operación sobre enteros por lo que el resultado es 1. El <code>static_cast</code> cambia ese resultado a float para ser almacenado a la variable c.
		</explanation>
    </question>
</quiz>
