<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>Paree la gráfica con la ecuacion cuadrática correspondiente: (la gráfica fue obtenida usando el applet de http://rechneronline.de/function-graphs/ )
        <br> <img src = "../../eip-diagnostic/quadratic-frog/img/quadratic-frog-03.png">
        </description>
	    <answer correct> $$y = -x^2$$ </answer>
        <answer> $$y = x^2 - x$$ </answer>
	    <answer> $$y = x^2$$ </answer>
	    <answer> $$y = x^2 + x$$ </answer>
        <explanation> $$y = -x^2$$ <br>
		<br> Cuando los coeficientes $$b$$ y $$c$$ de una ecuación cuadrática son 0, la única solución de la fórmula cuadrática es 0. Por lo tanto, la gráfica que corresponde es la parábola que contiene el punto $$(0,0)$$. Para $$y = -x^2$$ la parábola apunta hacia abajo.
		</explanation>
    </question>
</quiz>
