<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>Paree la gráfica con la ecuacion cuadrática correspondiente: (la gráfica fue obtenida usando el applet de http://rechneronline.de/function-graphs/ )
        <br> <img src = "../../eip-diagnostic/quadratic-frog/img/quadratic-frog-02.png">
        </description>
        <answer> $$y = x - 3x + 9$$ </answer>
	    <answer correct> $$y = x^2 - 2x -8$$ </answer>
	    <answer> $$y = x^2 - x + 1 $$ </answer>
	    <answer> $$y = x^2 - 2x + 4$$ </answer>
        <explanation> $$y = x^2 - 2x -8$$ <br>
		<br> Resolviendo la fórmula cuadrática, obtenemos los valores cuando y es 0. Estos valores son 4 y -2. El valor de a es positivo, por lo que la parábola apunta hacia arriba.
		</explanation>
    </question>
</quiz>
