<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description> Suponga que un amigo ha creado una función que recibe las coordenadas de dos puntos de una parábola y devuelve los coeficientes $$a$$, $$b$$, y $$c$$. La función tiene el encabezado <code>void getCoeficients(double x1, double y1, double x2, double y2, double &a, double &b, double &c)</code>. ¿Cuál sería el pedazo de código más apropiado para invocarla?
        </description>
        <answer> <code>a, b, c = getCoefficients(8.0, 9.0, 10.0, 0.0)</code> </answer>
		<answer> <code>( a, b, c ) = getCoefficients(8.0, 9.0, 10.0, 0.0)</code> </answer>
		<answer> <code>a = getCoefficients(8.0, 9.0, 10.0, 0.0).a()</code>
		<br><code>b = getCoefficients(8.0, 9.0, 10.0, 0.0).b()</code>
		<br><code>c = getCoefficients(8.0, 9.0, 10.0, 0.0).c()</code> </answer>
		<answer> <code>cout << getCoefficients(8.0, 9.0, 10.0, 0.0, a, b, c) << endl;</code> 
		</answer>
		<answer correct> <code>getCoefficients(8.0, 9.0, 10.0, 0.0, a, b, c);</code> </answer>
        <explanation> La primera invocación no provee todos los argumentos necesarios a la función. La función necesita 7 argumentos y la invocación solo pasa 3. C++ no permite expresiones como <code>a,b,c</code> en el lado izquierdo de una asignación.<br>
		<br>La segunda invocación tampoco provee todos los argumentos necesarios a la función. La función necesita 7 argumentos y la invocación solo pasa 3. C++ no permite expresiones como <code>(a,b,c)</code> en el lado izquierdo de una asignación.<br>
		<br>La tercera opción tampoco es válida en C++. Estaríamos llamando tres veces a la función y esperando que nos devuelva algo. Sin embargo, la función fue declarada void por lo que no regresa nada.<br>
		<br>La cuarta opción no es válida pues, a pesar que estamos pasando todos los argumentos necesarios, estamos tratando imprimir (por medio de cout) el valor devuelto por la función.<br>
		<br>La quinta opción es la correcta pues pasa 7 argumentos y los últimos tres son variables (pasadas como argumentos por referencia) cuyos valores serán asignados durante la ejecución de getCoefficients.
        </explanation>
    </question>
</quiz>
