<quiz name="Check your understanding">
    <question multiple>
        <description>What is the output of the following code?
	<br>
        <img src = "../../eip-diagnostic/sound-processing/img/sound-processing-01.png">
	<br>
        </description>
        <answer correct> <img src = "../../eip-diagnostic/sound-processing/img/sound-processing-02.png"> </answer>
        <answer> <img src = "../../eip-diagnostic/sound-processing/img/sound-processing-03.png"> </answer>
        <answer> <img src = "../../eip-diagnostic/sound-processing/img/sound-processing-04.png"> </answer>
        <answer> <img src = "../../eip-diagnostic/sound-processing/img/sound-processing-05.png"> </answer>
        <explanation>The first option is correct. The following figures are handtraces for the cases of i = 0,4,8 and i=1,2,3,5,6,7.<br><img src="../../eip-diagnostic/sound-processing/img/sound-processing-12.png">
        <br><img src="../../eip-diagnostic/sound-processing/img/sound-processing-13.png">
        </explanation>
    </question>
</quiz>
