<quiz name="Check your understanding">
    <question multiple>
        <description>Suppose we have an array called <code>A</code> that stores integers. The contents of <code>A</code> are: <code>10, 36, 400, 82, 350</code>. What would be the contents of the array after executing the following code?
        <br><img src = "../../eip-diagnostic/sound-processing/img/sound-processing-06.png"></br>
        </description>
        <answer> <code>5, 18, 200, 41, 175</code> </answer>
        <answer> <code>20, 72, 800, 164, 700</code> </answer>
        <answer> <code>0, 0.5, 1, 1.5, 2</code> </answer>
        <answer correct> <code>10, 18, 800, 41, 700</code> </answer>
        <answer> <code>1, 2, 3, 4, 5</code> </answer>
        <explanation>The following is a handtrace of the program:<br><img src="../../eip-diagnostic/sound-processing/img/sound-processing-14.png"> Thus, the correct answer is: 10, 18, 800, 41, 700.
        </explanation>
    </question>
</quiz>
