<quiz name="Check your understanding">
    <question multiple>
        <description>Which of the following functions prints the numbers from 0 through (almost) 1 in n equidistant steps?. For example, if n=100 it prints 0, 0.01, 0.02,. . ,0.98, 0.99.
        </description>
        <answer> <img src = "../../eip-diagnostic/sound-processing/img/sound-processing-16.png"> </answer>
        <answer correct> <img src = "../../eip-diagnostic/sound-processing/img/sound-processing-15.png"> </answer>
        <answer> <img src = "../../eip-diagnostic/sound-processing/img/sound-processing-17.png"> </answer>
        <explanation> The correct funcion is <code>ji</code>. The <code> for </code> loop in this function  generates integers from i = 0 through n-1. Thus, the first iteration outputs 0, followed by the result of 1.0/n, followed by 2.0/n, .. , the last iteration prints (n-1)/n.   
        </explanation>
    </question>
</quiz>
