<quiz name="Check your understanding">
    <question multiple>
        <description>Suppose there is an array of objects of the <code>AudioBuffer</code> class called <code>playlist</code>. We want to multiply the contents of each object's left channel by 5, and divide the contents of each object's right channel by 10. Which of the following instructions would carry out this task? Suppose that the instructions are carried out inside a for loop that iterates through the whole array using a variable called <code>i</code>.
        </description>
        <answer> <img src = "../../eip-diagnostic/sound-processing/img/sound-processing-07.png"> </answer>
        <answer> <img src = "../../eip-diagnostic/sound-processing/img/sound-processing-08.png"> </answer>
        <answer> <img src = "../../eip-diagnostic/sound-processing/img/sound-processing-09.png"> </answer>
        <answer correct> <img src = "../../eip-diagnostic/sound-processing/img/sound-processing-10.png"> </answer>
        <answer> <img src = "../../eip-diagnostic/sound-processing/img/sound-processing-11.png"> </answer>
        <explanation>If we take a look at the documentation for the <code>AudioBuffer</code> class, the object's <code>left</code> and <code>right</code> attributes are public, meaning they can be accessed using the instruction <code>.right</code> or <code>.left</code> after the object's name. If we have an array of <code>AudioBuffer</code> objects and we want to access a particular element, and then its <code>left</code> or <code>right</code> attribute, we would use the instruction <code>nameOfObject[index].right</code>, and we could also use the same instruction to alter the contents of the object. Therefore, the correct answer is the fourth option. The fifth option is not valid since the <code>AudioBuffer</code> class does not have setters and getters that are called <code>setLeft</code>, <code>setRight</code>, and <code>getLeft</code>, <code>getRight</code>.
        </explanation>
    </question>
</quiz>
