<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>¿Cuál es el output del siguiente programa?
            <br><img src="../../eip-diagnostic/image-scrambler/img/image-scrambler-06.png"><br></description>
        <answer ><code>"01234567"</code></answer>
        <answer ><code>”45670123”</code></answer>
        <answer correct><code>”67452301”</code></answer>
        <answer ><code>”76543210”</code></answer>
        <explanation>Cada invocación de la función recursiva <code>revoltillo</code> intercambia la primera y segunda mitad del string que es pasado como argumento. El árbol de recursión para la invocación <code>revoltillo(“01234567”,2)</code> es el siguiente y produce como resultado el string <code>”67452301”</code>. Por lo tanto, la tercera opción es la correcta. 
        	<br><img src="../../eip-diagnostic/image-scrambler/img/image-scrambler-07.png"><br></explanation>
    </question>
</quiz>
