<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>¿Cuál de los siguientes sería el resultado de un “scramble” de nivel 2 en la imagen del pingüino?
            <br><img src="../../eip-diagnostic/image-scrambler/img/image-scrambler-01.png"><br></description>
        <answer correct><img src="../../eip-diagnostic/image-scrambler/img/image-scrambler-02.png"></answer>
        <answer><img src="../../eip-diagnostic/image-scrambler/img/image-scrambler-03.png"></answer>
        <answer><img src="../../eip-diagnostic/image-scrambler/img/image-scrambler-04.png"></answer>
        <answer><img src="../../eip-diagnostic/image-scrambler/img/image-scrambler-05.png"></answer>
        <explanation>Un “scramble” de nivel 1 representa mover diagonalmente los cuadrantes de la imagen, y uno de nivel 2 representa invertir las mitades de la imagen, y luego aplicar un “scramble” de nivel 1. Si invertimos las mitades del pingüino, su lado izquierdo ahora estará a la derecha, y su lado derecho ahora estará a la izquierda, como se puede apreciar en la segunda opción. Si tomamos los cuadrantes de la imagen cuyas mitadas han sido intercambiadas, y e intercambiamos diagonalmente el resultado será la primera imagen. </explanation>
    </question>
</quiz>
