<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>¿Cuáles de las siguientes funciones están sobrecargadas en <code>movie.h</code>?
        </description>
        <answer> <code>getMovieByName</code> </answer>
        <answer correct> <code>showMovies</code> </answer>
        <answer> <code>getMovieInfo</code> </answer>
        <explanation>La función <code>showMovies</code> está sobrecargada. Hay dos versiones de esa función. </explanation>
    </question>
</quiz>
