<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>Para una función con encabezado <code>int foo02(int a = 10, int b = 7, int c = 5)</code>. ¿Sería válida la siguiente invocación?
		<code>cout << foo02() << endl;</code>  
		</description>
        <answer correct>Sí</answer>
        <answer>No</answer>
        <answer>Hace falta más información.</answer>
        <explanation>Sí, la función puede ser invocada con 0, 1, 2, o 3 parámetros. </explanation>
    </question>
</quiz>
