<quiz name="Check your understanding">
    <question multiple>
        <description>¿Cuál será el valor de <b>arg02</b> luego que se ejecuta la línea 19?
<br><img src="../../eip-diagnostic/DVD/img/DVD-01.png" /><br>
        </description>
        <answer>5</answer>
        <answer correct>2</answer>
        <answer>ninguno; como la función <code>ejercicio</code> es de tipo "void" la variable no tendrá valor</answer>
        <explanation>Como arg02 es pasado <b>por referencia</b>, cualquier asignación que se le haga a su parámetro correspondiente (var02) es también una asignación a arg02.  Al final de la función <code>ejercicio</code> se le asigna 2 a var02. Por lo tanto, el valor de arg02 luego de la invocación en la línea 19 es <b>2</b>. 
        </explanation>
    </question>
</quiz>