<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>Para una función con encabezado <code>int foo01(int a, int b, int c = 5)</code>. ¿Sería válida la siguiente invocación?
		<code>cout << foo01(1, 2) << endl;</code>
		</description>
        <answer correct>Si</answer>
        <answer>No</answer>
        <answer>Hace falta más información.</answer>
        <explanation>Si, la invocación es válida pues la función <code>foo01</code> puede aceptar que se le pasen solo los primeros dos argumentos ya que el último argumento tiene un valor por defecto. </explanation>
    </question>
</quiz>
