<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>¿Cuál de las siguentes funciones sobrecargadas será invocada si proveemos la instrucción <code>ejemplo(42, 'a')</code>?
        </description>
        <answer><code>int ejemplo(int) ;</code></answer>
        <answer><code>int ejemplo(int, int) ;</code></answer>
        <answer><code>int ejemplo(char, int) ;</code></answer>
        <answer correct><code>int ejemplo(int, char) ;</code></answer>
        <answer><code>ninguna de las anteriores</code></answer>
        <explanation>Los argumentos provistos son de tipo entero y char (en ese orden), por lo tanto utiliza la versión <code>int ejemplo(int, char);</code>. </explanation>
    </question>
</quiz>
