<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>Asumiendo que <code>fm</code> es un objecto de tipo <code>filemanip</code>, ¿Sería válida una invocación como la siguiente: <code>showMovies(fm)</code>?
        </description>
        <answer correct>Si</answer>
        <answer>No</answer>
        <explanation>Si, sería valido. Se utilizaría la versión de la función showmovies que tiene el siguiente prototipo: <code>void showMovies(filemanip &, int=1, int=10) ;</code> </explanation>
    </question>
</quiz>