<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>Según están definidas las funciones en <code>movie.h</code>. ¿Sería válida una invocación como la siguiente: <code>getMovieStudio(42)</code>?
        </description>
        <answer>Sí</answer>
        <answer correct>No</answer>
        <explanation>El prototipo de la función: <code>string getMovieStudio(string)</code> establece que la función debe recibir un argumento de tipo <code>string</code>, sin embargo la invocación está pasando un entero. Por lo tanto, la invocación <code>getMovieStudio(42)</code> no es válida. </explanation>
    </question>
</quiz>
