<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>¿Cuál será el valor de arg01 luego que se ejecuta la línea 19?
<br><img src="../../eip-diagnostic/DVD/img/DVD-01.png" /><br>
		</description>
        <answer correct>4</answer>
        <answer>3</answer>
        <answer>ninguno; el void lo borra</answer>
        <explanation>Como arg01 es pasado <b>por valor</b>, su valor no puede ser modificado por las instrucciones de la función ejercicio. Por lo tanto su valor final es 4. 
        </explanation>
    </question>
</quiz>