<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>¿Cuál de las pasadas funciones ejemplo será invocada si proveemos la instrucción <code>ejemplo(‘b’, ‘a’)</code>?
        </description>
        <answer><code>int ejemplo(int) ;</code></answer>
        <answer><code>int ejemplo(int, int) ;</code></answer>
        <answer><code>int ejemplo(char, int) ;</code></answer>
        <answer><code>int ejemplo(int, char) ;</code></answer>
        <answer correct><code>ninguna de las anteriores</code></answer>
        <explanation>No hay una versión de la función ejemplo que reciba dos parámetros de tipo caracter. En este caso el compilador trata de escoger una versión para cuyos parámetros se pueda realizar un promotion/demotion de los argumentos. Entre las versiones disponibles, podría ser <code>int ejemplo(char, int)</code> o <code>int ejemplo(int, char)</code>. El compilador se queja de que no puede tomar una decisión entre las dos y detiene el proceso de compilación. </explanation>
    </question>
</quiz>
