<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>Para una función con encabezado <code>int foo01(int a, int b, int c = 5)</code>. ¿Sería válida la siguiente invocación?
		<code>cout << foo01(1, ,2) << endl;</code>
		</description>
        <answer>Si</answer>
        <answer correct>No</answer>
        <answer>Hace falta más información.</answer>
        <explanation>No, la invocación requiere que se le pasen los primeros dos argumentos o todos. No funciona si los dos argumentos que pasas son el primero y el último. </explanation>
    </question>
</quiz>
