<quiz name="Check you understanding">
    <question multiple>
        <description>Which of the following prints the values of all the dominoes tiles (each tile once)?</description>
        <answer correct><img src="../../eip-diagnostic/dominos/img/dominos-02.png"></answer>
        <answer><img src="../../eip-diagnostic/dominos/img/dominos-03.png"></answer>
        <answer><img src="../../eip-diagnostic/dominos/img/dominos-04.png"></answer>
        <explanation>The first choice it's correct. For each value of i from 0 to 6, it generates values of j from i to 6. This produces the values <code>0/0</code>, <code>0/1</code>, ... , <code>0/6</code>, <code>1/1</code>, <code>1/2</code>, ... , <code>1/6</code> and goes on until <code>6/6</code>.  
        	<br><br>
		<br>The second option generates from 0 to 6 for each i value, then produces the duplicate tiles like <code>0/4</code> and <code>4/0</code>.<br>
		<br>The third option never produces <code>0/0</code>, when <code>i=0</code> and <code>j=0</code> the condition <code>j &lt; i</code> is false and do not execute the command that prints those values. <br> </explanation>
    </question>
</quiz>
