<quiz name="Check you understanding">
    <question multiple>
        <description>Suppose <code>A</code> is an array of numbers from 1 to 50 with <code>A[0]=1, A[1]=2, A[2]=3,..., A[49]=50</code>; what would be the output of the following code?
            <br><img src="../../eip-diagnostic/dominos/img/dominos-01.png"><br></description>
        <answer><code>2 4 6 8 9 10 12 14 15 16 18 20 21 22 24 25</code></answer>
        <answer><code>2 3 4 6 8 9 12 14 15 16 18 21 25</code></answer>
        <answer><code>1 3 5 7 9 12 15 17 18 20 22 25</code></answer>
        <answer correct><code>2 3 6 7 10 11 14 15 18 19 22 23</code></answer>
        <explanation>The for loop does 25 iterations, i.e.one for each value of i from 0 to 24. The if condition it's true only when the content of <code>A[i]</code> is an integer such that when it’s divided by 4 the residue will be 3 or 2. Inside the interval [0,24] the integers that meet the conditions are the ones in the fourth option. </explanation>
    </question>
</quiz>
