<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>La función <code>esPar(int n)</code> devuelve <code>true</code> si n es par. ¿Cuál(es) serían asserts recomendables para una función que valide la función <code>bool esPar(unsigned int)</code>? 
        </description>
        <answer correct> <code>assert( esPar(8) == true);</code> </answer>
        <answer correct> <code>assert( esPar(11) == false);</code> </answer>
        <answer correct> <code>assert( esPar(2) == true);</code> </answer>
        <answer> <code>assert( esPar(7) == true);</code> </answer>
        <explanation>Todas las opciones menos la última sería recomendables. La última opción es una prueba mal formulada pues está verificando que el resultado de <code>esPar(7)</code> sea <b>true</b>. </explanation>
    </question>
</quiz>
