<quiz name="Comprueba tu entendimiento">
    <question multiple>
        <description>Una amiga te provee una función llamada <code>int roundIt(double n)</code> que dado un número de tipo double en el rango de -1000.0 a +1000.0 devuelve el número redondeado al entero más cercano. Otro amigo te provee la siguiente función para validar la función <code>roundIt</code>: 
        	<br><img src="../../eip-diagnostic/testing/img/testing-01.png"><br>
        	<br>Al correr la función, el programa se detiene en la línea 28 y nos reporta que la aserción no se cumplió. ¿Qué podemos concluir?<br>
        </description>
        <answer>La función <code>roundIt</code> no tiene un resultado válido para ciertos valores de argumentos.</answer>
        <answer correct>La función <code>test_roundIt</code> contiene una prueba mal formulada.</answer>
        <explanation>En este caso, lo único que podemos decir con certeza es que la función <code>test_roundIt</code> contiene una prueba mal formulada. La línea 28 compara el resultado de <code>test_roundIt(10.4)</code> con <code>11</code> lo cual **no** es el resultado esperado de la función, el resultado de test_roundIt(10.4) debe ser 10, no 11. </explanation>
    </question>
</quiz>
