<quiz name="Verifica tu entendimiento">
  <question multiple>
    <description>
    Supón que el robot comienza en la esquina superior izquierda de una cuadrícula <b>rectangular</b> del altura <i>h</i> y ancho <i>w</i>. Supón que el robot debe visitar <i>N</i> cuartos para determinar el número total de cuartos en la cuadrícula. ¿Cómo compara <i>N</i> con <i>M</i>, el número de cuartos que debe visitar para determinar el total de cuartos en una cuadrícula rectangular con altura <i>2h</i> y ancho <i>2w</i>?.
    </description>
        <answer> Debe visitar aproximadamente 4 veces el número de cuartos, i.e. <i>M = N * 4</i> </answer>
        <answer> Debe visitar aproximadamente <i>h*w</i> cuartos adicionales, i.e. <i>M = N + h*w</i> </answer>
        <answer> Debe visitar aproximadamente <i>h*w</i> veces el número de cuartos, i.e. <i>M = N * h*w</i> </answer>
        <answer correct> Debe visitar aproximadamente  <i>h + w</i> cuartos adicionales, i.e. <i>M = N + h + w</i> </answer>
        <explanation>Para determinar la altura y ancho del rectángulo original el robot debe visitar approximadamente <i>h + w</i> cuartos. Para determinar la altura y ancho del segundo rectángulo el robot debe visitar approximadamente <i>2h + 2w</i> cuartos. Por lo tanto, <i>M = N + h + w</i>.</explanation>
  </question>
</quiz>
