<quiz name="Verifica tu entendimiento">
  <question multiple>
    <description>
    Supón que el robot comienza en la esquina superior izquierda de una cuadrícula <b>cuadrada</b>. El robot necesita pasar por cada uno de los cuartos para poder determinar el número total de cuartos.
    </description>
        <answer> Cierto </answer>
        <answer correct> Falso </answer>
        <explanation>El robot no necesita pasar por cada cuarto. Solo necesita determinar la altura o ancho de la cuadrícula y cuadrar esa cantidad.
        </explanation>
  </question>
</quiz>
