<quiz name="Check your understanding">
    <question multiple>
        <description>What is stored in the <code>exam</code> vector at the end of this code?
        <br><img src="../../eip-diagnostic/pesky-tourist/img/pesky-tourist-01.png"></description>
        <answer> <code>0, 3, 5, 6, 10, 15</code> </answer>
		<answer correct> <code>0, 3, 5, 6, 9, 10, 12</code> </answer>
		<answer> <code>0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14</code> </answer>
		<answer> <code>0</code> </answer>
		<answer> <code>0, 3, 5</code> </answer>
        <explanation>The <code>push_back()</code> function inserts the element at the end of the vector. The for loop generates the integers from 0 up to 14. Only the values that are divisible by 3 and 5 are added to the <code>exam</code> vector. The first option is incorrect because 9 and 12 are missing, and both modulus 3 are 0. Additionally, the 15 will not be present, since the for loop does not permit the block of code to execute when the <code>i</code> is 15. The second option is the correct one, since <code>push_back()</code> adds the elements at the end of the vector; in this case it will add them in ascending order. The third option is incorrect since it has all of the numbers from 0-14, and many of them are not divisible by 3 or 5. The fourth and fifth option are also incorrect since there are numbers missing. Therefore, the correct answer is: 0, 3, 5, 6, 9, 10, 12. </explanation>
    </question>
</quiz>
