<quiz name="Check your understanding">
    <question multiple>
        <description>What is the median of the following three pixels (as explained in the section Median of Pixels)?
        <br><code>0x00FF00 | 0x00FE01 | 0x00FD00</code>
        </description>
        <answer> <code>0x01FG00</code> </answer>
        <answer correct> <code>0x00FE00</code> </answer>
        <answer> <code>0x00FF01</code> </answer>
        <answer> <code>0x01FD01</code> </answer>
        <explanation>
        To find the median of a set of values, first we must sort them in ascending order. If the number of values is **odd**, then the median corresponds to the value that is positioned in the middle. In this case, since we're handling pixels, we must look at the red (R), green (G), and blue (B) values individually. The red values in this vector are 00, 00, and 00. Therefore, the value in the middle is 00. The green values in this vector are FF, FE, and FD, which is FD, FE, and FF in order. Therefore, the value in the middle is FE. The blue values are 00, 01, and 00, which is 00, 00, and 01 in order. Therefore, the value in the middle is 00. Putting these values together, we find the median: <code>0x00FE00</code>.
        </explanation>
    </question>
</quiz>
