<quiz name="Check your understanding">
    <question multiple>
        <description>Suppose there is a function <code>sort(int A[], int size)</code> that takes as arguments an array of integers and the size of the array, and orders the values in ascending order. Which of the following instructions will return the median of the integers stored in the array? Assume that the number of elements in the array is **odd**.
        </description>
        <answer correct> <code>sort(A, size); return A[size/2];</code> </answer>
        <answer> <code>sort(A/2, size); return A;</code> </answer>
        <answer> <code>sort(A, size/2); return A;</code> </answer>
        <explanation>
        The correct answer is the first option, since we first need to order the array and then find the value in the middle to get the median. The instruction <code>sort(A, size);</code> orders the array in ascending order, which means we only need to find the value in the middle with <code>return A[size/2];</code> since we have an **odd** number of elements. The second option is not valid, because the operation <code>A/2</code> cannot be realized. The third option will only order the first half, since the <code>sort()</code> function orders the array up until the position given by the <code>size</code> argument, which will not allow us to calculate the median.
        </explanation>
    </question>
</quiz>
