<quiz name="Check your understanding">
    <question multiple>
        <description>A friend provides a function called <code>int roundIt(double n)</code> that given a number of type double in the range of -1000.0 to +1000.0 returns the rounded number to the nearest integer. Another friend provides the following function to validate the <code>roundIt</code> function:
        	<br><img src="../../eip-diagnostic/testing/img/testing-01.png"><br>
        	<br>When the function is called, the program stops on line 28 and reports that the assertion has failed. What can we conclude?<br>
        </description>
        <answer>The function <code>roundIt</code> does not have a valid result for certain argument values.</answer>
        <answer correct>The function <code>test_roundIt</code> contains a poorly formulated test.</answer>
        <explanation>In this case, the only thing we can certainly say is that the function <code>test_roundIt</code> contains one poorly formulated test. Line 28 compares the result of <code>test_roundIt(10.4)</code> with <code>11</code> which <b>is not</b> the function's expected result, e.g. roundIt(10.4) should result in 10, not 11.</explanation>
    </question>
</quiz>
