<quiz name="Check your understanding">
    <question multiple>
        <description>The function <code>isEven(int n)</code> is supposed to return <code>true</code> if n is even. Which assert(s) would be recommended to validate the function <code>bool isEven(unsigned int)</code>? 
        </description>
        <answer correct> <code>assert( isEven(8) == true);</code> </answer>
        <answer correct> <code>assert( isEven(11) == false);</code> </answer>
        <answer correct> <code>assert( isEven(2) == true);</code> </answer>
        <answer> <code>assert( isEven(7) == true);</code> </answer>
        <explanation>All of the options except for the last one would be recommended. The last option is a wrongly formulated test since it is verifying that the result of <code>isEven(7)</code> is <b>true</b>. </explanation>
    </question>
</quiz>
