<quiz name="Check your understanding">
    <question multiple>
        <description>Consider the following figure:
        	<br><img src = "../../eip-diagnostic/tesselations/img/tesselations-10.png"><br>
        	<br>Which of the following blocks of code produces this result?<br>
        </description>
        <answer correct> <img src = "../../eip-diagnostic/tesselations/img/tesselations-06.png"> </answer>
        <answer> <img src = "../../eip-diagnostic/tesselations/img/tesselations-07.png"> </answer>
        <answer> <img src = "../../eip-diagnostic/tesselations/img/tesselations-08.png"> </answer>
        <explanation>The figure consists of 16 squares. Observe that each of the squares in the first column are not rotated. The ones on the second column are rotated by 90 degrees. The one on the third and fourth column 180 and 270, respectively. The code that generates them should at least do 16 iterations, where the rotation angle is changed every four iterations. Therefore, the correct block of code is:
        <br> <img src = "../../eip-diagnostic/tesselations/img/tesselations-06.png"> <br>
        </explanation>
    </question>
</quiz>
