<quiz name="Check your understanding">
    <question multiple>
        <description>Consider the following code:
        	<br><img src = "../../eip-diagnostic/tesselations/img/tesselations-09.png"><br>
        	<br>Which of the following figures would be the result of executing the code?<br>
        </description>
        <answer correct> <img src = "../../eip-diagnostic/tesselations/img/tesselations-01.png"> </answer>
        <answer> <img src = "../../eip-diagnostic/tesselations/img/tesselations-02.png"> </answer>
        <answer> <img src = "../../eip-diagnostic/tesselations/img/tesselations-03.png"> </answer>
        <answer> <img src = "../../eip-diagnostic/tesselations/img/tesselations-04.png"> </answer>
        <explanation>The code only has one loop that has 4 iterations. Therefore, the figure that shows 16 squares IS NOT the solution. Note that the first argument of the invoked function in line 46 (<code>t.move(i*50,0);</code>) varies according to the value of <code>i</code>. The second argument is maintained at <code>0</code>. Therefore, the figure that is generated has four squares with <code>y = 0</code>. The result is the figure that contains four squares in a horizontal line.
        <br> <img src = "../../eip-diagnostic/tesselations/img/tesselations-01.png"> <br>
        </explanation>
    </question>
</quiz>
