<quiz name="Check your understanding">
    <question multiple>
        <description>The file <code>data.txt</code> contains the numbers $$1,2,3,4,5,6$$ (one below the other). What would be the output of the following program?
        <br><img src="../../eip-diagnostic/benfords-law/img/benfords-law-01.png"> <br>
	    </description>
        <answer correct>$$1$$</answer>
        <answer>$$5$$</answer>
        <answer>$$6$$</answer>
        <answer>$$21$$</answer>
        <explanation>The purpose of the program is to count how many numbers contained in the file are greater than 5. The file <code>data.txt</code> only contains one number greater than 5, so the result of the program would be <code>1</code>
        </explanation>
    </question>
</quiz>
