<quiz name="Check your understanding">
    <question multiple>
        <description>The file <code>nums.txt</code> contains the numbers $$2,3,4,5,6$$ (one below the other). What would be the output of the following program?
        <br><img src="../../eip-diagnostic/benfords-law/img/benfords-law-02.png"> <br>
	    </description>
        <answer><code>2 3 4 5 6</code></answer>
        <answer correct><code>2 0 1 2 0</code></answer>
        <answer><code>2 3 0 1 2</code></answer>
        <answer><code>-1 0 1 2 3</code></answer>
        <explanation>This program reads each of the numbers in <code>nums.txt</code> and prints the result of the remainder when dividing by 3. Therefore the result is <code>2 0 1 2 0</code>, which are the remainders of 2 / 3, 3 / 3, 4 / 3, 5 / 3, and 6 / 3.
        </explanation>
    </question>
</quiz>
