<quiz name="Check your understanding">
    <question multiple>
        <description>Suppose that we keep count of the lead digits in a data set using the array <code>C</code> of size 10. After finishing counting, the contents of <code>C</code> are <code>{0, 1, 1, 0, 0, 0, 0, 0, 0, 0} </code>. What is the frequency of the occurrence of the digit 0?
	    </description>
        <answer>$$8\%$$</answer>
        <answer correct>$$80\%$$</answer>
        <answer>$$18\%$$</answer>
        <answer>-$$1\%$$</answer>
        <explanation>The frequency of occurrence of the number 0 is the number of times that the digit appears in the data (8 times according to the array <code>C</code>) over the total of data values (10 values): $$\frac{8}{10} = 80\%$$.
		</explanation>
    </question>
</quiz>
