<quiz name="Check your understanding">
    <question multiple>
        <description>What would be the contents of the array <code>A</code> just before executing the instruction <code>return 0</code>?
        <br><img src="../../eip-diagnostic/benfords-law/img/benfords-law-03.png"><br>
	    </description>
        <answer correct>$$3, 2, 2$$</answer>
        <answer>$$2, 3, 2$$</answer>
        <answer>$$2, 2, 2$$</answer>
        <answer>$$4, 5, 6$$</answer>
        <explanation>The loop generates the following values for <code>i</code>: 0, 1, 2, 3, 4, 5, 6. The instruction <code>A[i%3]++</code> increases the content of the following elements of A: <code>A[0]</code>, <code>A[1]</code>, <code>A[2]</code>, <code>A[0]</code>, <code>A[1]</code>, <code>A[2]</code>, and once again <code>A[0]</code>. Therefore, the array <code>A</code> contains: $$3, 2, 2.$$ </explanation>
    </question>
</quiz>
